<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card Related Content</title>
    <link rel="stylesheet" href="./card.css">
</head>
<body>
    
    <div class="card-related-content">
        <div class="image-container">
            <img />
        </div>
        <div class="copy-container">
            <p class="copy-text">Aliquam ac ligula ac odio molestie consequat varius est urna</p>
            <a href="#" class="copy-link">Find out more<i class="fas fa-angle-right"></i></a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/3c141431e1.js"></script>

</body>
</html>