.LatestBeerTrends {
  text-align: left;
  background-color: #f2f2f2;
}
.LatestBeerTrends .titles-and-descriptions .general-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.LatestBeerTrends .titles-and-descriptions .general-description {
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  color: #3e3e3e;
  padding-right: 18%;
  padding-left: 18%;
}
.LatestBeerTrends .titles-and-descriptions .related-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  text-transform: uppercase;
  border-bottom: 1px solid #7d7773;
  margin-bottom: 50px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .LatestBeerTrends .titles-and-descriptions .general-title {
    padding-left: 6%;
    padding-right: 6%;
    font-size: 24px;
  }
  .LatestBeerTrends .titles-and-descriptions .general-description {
    padding-left: 6%;
    padding-right: 5%;
  }
  .LatestBeerTrends .titles-and-descriptions .related-title {
    font-size: 24px;
    margin-left: 6%;
    margin-right: 6%;
  }
}
.LatestBeerTrends .banner-container .banner-card-container {
  text-align: left;
  background-color: #ffffff;
}
.LatestBeerTrends .banner-container .banner-card-container .label {
  width: 60px;
  height: 40px;
  margin-left: 83px;
  margin-top: 25px;
}
.LatestBeerTrends .banner-container .banner-card-container .label div {
  height: 100%;
}
.LatestBeerTrends .banner-container .banner-card-container .label div span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.LatestBeerTrends .banner-container .banner-card-container .title-container {
  margin-top: 60px;
  margin-bottom: 20px;
}
.LatestBeerTrends .banner-container .banner-card-container .title-container.with-label {
  margin-top: 20px;
}
.LatestBeerTrends .banner-container .banner-card-container .title-container .title {
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: black;
  text-transform: uppercase;
}
.LatestBeerTrends .banner-container .banner-card-container .text-container .text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #3e3e3e;
}
.LatestBeerTrends .banner-container .banner-card-container .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.LatestBeerTrends .banner-container .banner-card-container .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.LatestBeerTrends .banner-container .banner-card-container .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 146, 223, 0.5);
}
.LatestBeerTrends .banner-container .banner-card-container .image-container img {
  height: 100%;
  width: 100%;
  display: none;
}
@media screen and (min-width: 768px) {
  .LatestBeerTrends .banner-container .banner-card-container {
    height: 420px;
    margin-bottom: 40px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .content-container {
    padding-right: 110px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .text-container,
  .LatestBeerTrends .banner-container .banner-card-container .title-container {
    padding-left: 83px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .text-container {
    padding-bottom: 20px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .btn-container {
    height: 45px;
    width: 160px;
    margin-left: 83px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .image-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 425px solid #ffffff;
    border-right: 80px solid transparent;
    width: 0;
  }
  .LatestBeerTrends .banner-container .banner-card-container .image-container .desktop-img {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .LatestBeerTrends .banner-container .banner-card-container {
    flex-wrap: wrap;
    margin-top: 0;
    height: 660px;
    margin-bottom: 45px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .label {
    margin-left: 20px;
    margin-top: 15px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .text-container,
  .LatestBeerTrends .banner-container .banner-card-container .title-container {
    padding: 20px;
    padding-top: 0;
    margin: 0;
  }
  .LatestBeerTrends .banner-container .banner-card-container .text-container .text,
  .LatestBeerTrends .banner-container .banner-card-container .title-container .text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    color: #3e3e3e;
  }
  .LatestBeerTrends .banner-container .banner-card-container .text-container .title,
  .LatestBeerTrends .banner-container .banner-card-container .title-container .title {
    font-size: 28px;
    font-weight: bold;
  }
  .LatestBeerTrends .banner-container .banner-card-container .title-container {
    margin-top: 75px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .title-container.with-label {
    margin-top: 20px;
  }
  .LatestBeerTrends .banner-container .banner-card-container .btn-container {
    width: 88%;
    height: 45px;
    margin-left: 6%;
    margin-right: 6%;
  }
  .LatestBeerTrends .banner-container .banner-card-container .image-container .phone-img {
    display: block;
    position: absolute;
    height: 280px;
    left: 0;
    bottom: 0;
  }
}
.LatestBeerTrends .image-text-list-block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  margin-right: 9%;
  padding-left: 9%;
  padding-right: 9%;
  background-color: #ffffff;
  padding-top: 40px;
  margin-top: 40px;
}
.LatestBeerTrends .image-text-list-block .list-column {
  display: flex;
  min-height: 150px;
  margin-bottom: 30px;
}
.LatestBeerTrends .image-text-list-block .list-column .list-column-image {
  width: 195px;
  height: 150px;
}
.LatestBeerTrends .image-text-list-block .list-column .list-column-image img {
  width: 100%;
  height: 100%;
}
.LatestBeerTrends .image-text-list-block .list-column .list-column-text {
  width: 79%;
}
.LatestBeerTrends .image-text-list-block .list-column .list-column-text .list-column-text-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.LatestBeerTrends .image-text-list-block .list-column .list-column-text .list-column-text-description {
  font-size: 16px;
  line-height: 1.63;
  color: #3e3e3e;
}
.LatestBeerTrends .image-text-list-block .list-column.image-left .list-column-image {
  order: 1;
}
.LatestBeerTrends .image-text-list-block .list-column.image-left .list-column-text {
  order: 2;
  padding-left: 25px;
}
.LatestBeerTrends .image-text-list-block .list-column.image-right .list-column-image {
  order: 2;
}
.LatestBeerTrends .image-text-list-block .list-column.image-right .list-column-text {
  order: 1;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .LatestBeerTrends .image-text-list-block {
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 6%;
    padding-right: 6%;
  }
  .LatestBeerTrends .image-text-list-block .list-column {
    height: unset;
    flex-flow: column;
  }
  .LatestBeerTrends .image-text-list-block .list-column .list-column-image {
    width: 100%;
    height: 220px;
  }
  .LatestBeerTrends .image-text-list-block .list-column .list-column-text {
    margin-top: 10px;
    padding: unset;
    width: 100%;
  }
  .LatestBeerTrends .image-text-list-block .list-column.image-left .list-column-image {
    order: 1;
    padding: unset;
  }
  .LatestBeerTrends .image-text-list-block .list-column.image-left .list-column-text {
    order: 2;
    padding: unset;
  }
  .LatestBeerTrends .image-text-list-block .list-column.image-right .list-column-image {
    order: 1;
    padding: unset;
  }
  .LatestBeerTrends .image-text-list-block .list-column.image-right .list-column-text {
    order: 2;
    padding: unset;
  }
}
@media (min-width: 768px) {
  .LatestBeerTrends .small-banner-card-container {
    padding-bottom: 100px;
    padding-left: 11%;
    padding-right: 11%;
  }
}
@media (max-width: 768px) {
  .LatestBeerTrends .small-banner-card-container {
    padding-bottom: 80px;
  }
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  height: 540px;
  width: 335px;
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container {
  height: 288px;
  box-sizing: border-box;
  width: 100%;
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.63;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  padding-top: 20px;
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-text {
  font-size: 16px;
  padding-top: 10px;
  line-height: 1.63;
  color: #3e3e3e;
  margin: 0;
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 2px;
  font-weight: 500;
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block .image-container {
  width: 335px;
  height: 250px;
  background-color: rgba(64, 146, 223, 0.5);
}
.LatestBeerTrends .small-banner-card-container .mixed-content-block .image-container img {
  width: 100%;
}
@media (min-width: 768px) {
  .LatestBeerTrends .small-banner-card-container {
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 80px;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block {
    height: 190px;
    width: 100%;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container {
    float: left;
    height: 100%;
    width: 63%;
    padding-left: 35px;
    padding-right: 80px;
    padding-top: 30px;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-text {
    padding-bottom: 20px;
    font-size: 18px;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-button {
    position: relative;
    width: 140px;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .image-container {
    height: 100%;
    width: 37%;
    float: left;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .image-container img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .LatestBeerTrends .small-banner-card-container {
    padding-top: 60px;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block {
    position: relative;
    width: 100%;
    height: unset;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .image-container {
    width: 100%;
    height: 220px;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .image-container img {
    height: 100%;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: unset;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-text {
    padding-top: 30px;
    font-size: 18px;
  }
  .LatestBeerTrends .small-banner-card-container .mixed-content-block .copy-container .content-button {
    position: relative;
    margin-top: 30px;
  }
}
.LatestBeerTrends .vertical-card-container {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .LatestBeerTrends .vertical-card-container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
  }
}
.LatestBeerTrends .vertical-card-container .card-related-content {
  font-family: 'Roboto', sans-serif;
  height: 430px;
  display: block;
}
@media (min-width: 768px) {
  .LatestBeerTrends .vertical-card-container .card-related-content {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 33.3333%;
    flex: 1 1 auto;
  }
}
@media (max-width: 768px) {
  .LatestBeerTrends .vertical-card-container .card-related-content {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 4%;
  }
}
.LatestBeerTrends .vertical-card-container .card-related-content .image-container {
  background-color: rgba(64, 146, 223, 0.5);
  height: 250px;
}
.LatestBeerTrends .vertical-card-container .card-related-content .image-container img {
  width: 100%;
  height: 100%;
}
.LatestBeerTrends .vertical-card-container .card-related-content .copy-container {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 180px;
}
.LatestBeerTrends .vertical-card-container .card-related-content .copy-container .copy-text {
  padding: 20px 30px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  color: #000000;
}
.LatestBeerTrends .vertical-card-container .card-related-content .copy-container .copy-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #4092df;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 30px;
  text-decoration: none;
}
.LatestBeerTrends .vertical-card-container .card-related-content .copy-container .copy-link:hover {
  border-bottom: 2px solid;
  margin-bottom: -2px;
}
.LatestBeerTrends .vertical-card-container .card-related-content .copy-container .copy-link i.fas.fa-angle-right {
  margin-left: 15px;
  font-size: 16px;
  color: #4092df;
  position: absolute;
  bottom: 4px;
}
.slds-col--padded.contentRegion.comm-layout-column {
  padding: 0;
}
.cCP_NewsDetail .detail-date.p-16-white-bold,
.cCP_NewsDetail .btn-div.content-button-container {
  display: none;
}
.cCP_NewsDetail {
  margin: unset;
  padding: unset;
}
