.captain-morgan-halloween {
  background: #f2f2f2;
}
@media screen and (max-width: 768px) {
  .captain-morgan-halloween {
    padding-left: 20px;
    padding-right: 20px;
    background: #f2f2f2;
  }
}
.captain-morgan-halloween .banner-container .banner-card-container {
  height: 420px;
  text-align: left;
  background-color: #ffffff;
}
.captain-morgan-halloween .banner-container .banner-card-container .content-container {
  margin: auto;
  padding-left: 83px;
  padding-right: 95px;
}
.captain-morgan-halloween .banner-container .banner-card-container .content-container .title-container {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.captain-morgan-halloween .banner-container .banner-card-container .content-container .title-container .title {
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: black;
  text-transform: uppercase;
}
.captain-morgan-halloween .banner-container .banner-card-container .content-container .text-container .text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: #3e3e3e;
}
.captain-morgan-halloween .banner-container .banner-card-container .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 146, 223, 0.5);
}
.captain-morgan-halloween .banner-container .banner-card-container .image-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 425px solid #ffffff;
  border-right: 80px solid transparent;
  width: 0;
}
.captain-morgan-halloween .banner-container .banner-card-container .image-container img {
  height: 100%;
  width: 100%;
}
.captain-morgan-halloween .banner-container .banner-card-container .image-container img.desktop-img {
  display: block;
}
.captain-morgan-halloween .banner-container .banner-card-container .image-container img.phone-img {
  display: none;
}
@media screen and (max-width: 768px) {
  .captain-morgan-halloween .banner-container .banner-card-container {
    flex-wrap: wrap;
    height: 635px;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .content-container {
    margin: unset;
    padding-left: unset;
    padding-right: unset;
    padding-bottom: 72px;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .text-container,
  .captain-morgan-halloween .banner-container .banner-card-container .title-container {
    padding-top: 0;
    margin: 0;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .text-container .text,
  .captain-morgan-halloween .banner-container .banner-card-container .title-container .text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    color: #3e3e3e;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .text-container .title,
  .captain-morgan-halloween .banner-container .banner-card-container .title-container .title {
    font-size: 28px;
    font-weight: bold;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .title-container {
    margin-top: 60px;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .image-container {
    width: 375px;
    height: 283px;
    margin-left: -20px;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .image-container:before {
    content: unset;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .image-container img.desktop-img {
    display: none;
  }
  .captain-morgan-halloween .banner-container .banner-card-container .image-container img.phone-img {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .captain-morgan-halloween .banner-container {
    padding: 0 20px;
    margin: 0 -20px;
    background: white;
  }
}
.captain-morgan-halloween .text-centered-container p {
  text-align: left;
  padding: 80px 218px 40px;
  font-size: 20px;
  line-height: 32px;
  color: #3e3e3e;
}
.captain-morgan-halloween .text-centered-container p.uppercase-text {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 40px;
  color: #000;
  font-weight: bold;
  padding-top: 40px;
}
.captain-morgan-halloween .text-centered-container p.uppercase-text.second-uppercase-text {
  padding-top: unset;
  padding-bottom: 20px;
}
.captain-morgan-halloween .text-centered-container p.second-p {
  font-size: 16px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .captain-morgan-halloween .text-centered-container p {
    padding: 80px 0 40px;
    font-size: 20px;
    line-height: 32px;
    padding-right: 2px;
  }
  .captain-morgan-halloween .text-centered-container p.uppercase-text {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px;
  }
  .captain-morgan-halloween .text-centered-container p.second-p {
    padding-bottom: 80px;
  }
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card {
  display: flex;
  width: 845px;
  height: 334px;
  position: relative;
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container {
  width: 100%;
  border: 5px solid #00b39f;
  z-index: 1;
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
  width: 380px;
  padding-left: 80px;
  padding-top: 35px;
  padding-right: 85px;
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
  padding: 0;
  width: 380px;
  padding-left: 80px;
  padding-right: 85px;
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .image-container {
  position: absolute;
  right: -100px;
  top: -40px;
  z-index: 0;
  height: 415px;
  width: 410px;
  background-color: rgba(64, 146, 223, 0.5);
}
.captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .image-container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .captain-morgan-halloween .image-outside-horizontal-card-container {
    padding-bottom: 120px;
    padding-left: 14%;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .adjust-text {
    padding-right: 377px;
    padding-left: 70px;
    padding-top: 68px;
    padding-bottom: 68px;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .adjust-text .title-container {
    width: unset;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .adjust-text .description-container {
    font-size: 20px;
    text-align: center;
    padding: 0;
    width: unset;
    padding-left: unset;
    padding-right: unset;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container {
    width: 162px;
    height: 44px;
    margin-top: 75px;
    margin-left: 180px;
  }
}
@media (max-width: 768px) {
  .captain-morgan-halloween .image-outside-horizontal-card-container {
    padding-left: unset;
    padding-right: unset;
    padding-bottom: 80px;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card {
    width: 100%;
    height: unset;
    flex-wrap: wrap;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container {
    order: 1;
    height: 690px;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
    padding-left: 30px;
    padding-top: 410px;
    padding-right: 30px;
    width: unset;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #3e3e3e;
    width: unset;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    text-align: left;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container {
    height: 45px;
    width: 160px;
    margin-top: 40px;
    margin-left: 25%;
  }
  .captain-morgan-halloween .image-outside-horizontal-card-container .image-outside-horizontal-card .image-container {
    order: 0;
    position: absolute;
    top: -30px;
    z-index: 0;
    width: 102vw;
    right: -6.7%;
  }
}
.captain-morgan-halloween .content-card-recipes {
  padding-left: 108px;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  margin-bottom: 80px;
  padding-bottom: 110px;
}
.captain-morgan-halloween .content-card-recipes .recipe-header {
  display: flex;
  flex-direction: column;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipes-top {
  display: flex;
  position: relative;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty {
  position: absolute;
  top: 0;
  right: 109px;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .difficulty {
  margin-top: 15px;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipes-top .recipes-title {
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipes-description {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding-bottom: 60px;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipe-information .recipes-medium {
  float: left;
  display: inline-flex;
  border-right: 2px solid #b9b9b9;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  width: 21.5%;
  position: relative;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipe-information .recipes-medium .recipes-medium-title {
  display: flex;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .recipe-information .recipes-medium .description {
  position: absolute;
  bottom: 0;
}
.captain-morgan-halloween .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty {
  display: none;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method {
  display: flex;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content {
  background-color: rgba(64, 146, 223, 0.5);
}
@media (min-width: 768px) {
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content {
    width: 44%;
    height: 316px;
    margin-top: 25px;
    margin-right: 25px;
  }
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content img {
  height: 100%;
  width: 100%;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"] {
  display: none;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"]:checked ~ .label {
  background: rgba(242, 175, 12, 0.12);
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 2px solid #f2af0c;
  z-index: 2;
}
@media (min-width: 768px) {
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    margin-bottom: 100px;
    width: 44%;
  }
}
@media (max-width: 768px) {
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    height: 320px;
    margin-bottom: 40px;
  }
}
@media (max-width: 321px) {
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    height: 320px;
    margin-bottom: 40px;
  }
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"]:checked ~ .label ~ .content {
  z-index: 1;
  display: table;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs {
  position: relative;
  clear: both;
  margin: 0;
  padding-top: 25px;
  white-space: nowrap;
  display: flex;
  width: 100%;
  border-bottom: 2px solid #979797;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn {
  display: none;
}
@media (min-width: 768px) {
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 14px;
    display: block;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn a {
    color: #4092df;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn a i {
    margin-right: 10px;
  }
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab {
  vertical-align: top;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 50px;
  line-height: 50px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 2px solid #979797;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .label:hover {
  cursor: pointer;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content {
  white-space: normal;
  top: 77px;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: white;
  height: 265px;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol,
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 45px;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li,
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li {
  margin-bottom: 10px;
  counter-increment: my-awesome-counter;
  position: relative;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li:last-child,
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li:last-child {
  margin-bottom: 0;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li p,
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000000;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li:before,
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li:before {
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  --size: 25px;
  left: calc(-1 * var(--size) - 20px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: #3e3e3e;
  border-radius: 50%;
  text-align: center;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul {
  padding-left: 25px;
}
.captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li:before {
  content: "";
  color: #fff;
  /* font-size : 10px; */
  font-weight: bold;
  position: absolute;
  --size: 8px;
  left: calc(-1 * var(--size) - 15px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 9px;
  background: #7d7773;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 768px) {
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    flex-wrap: wrap;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab {
    margin-top: -6px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab .content {
    top: 71px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"]:checked ~ .label ~ .content {
    z-index: 1;
    display: table;
    top: 71px;
  }
}
@media (max-width: 768px) {
  .captain-morgan-halloween .content-card-recipes {
    margin: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    margin-bottom: 81px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty {
    display: none;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .recipes-top .recipes-title {
    margin-bottom: 20px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .recipes-description {
    padding-bottom: 20px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .recipe-information .recipes-medium {
    float: unset;
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty {
    display: block;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .wow-factor img {
    height: 40px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .difficulty {
    margin-top: 20px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .difficulty img {
    height: 40px;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method {
    flex-direction: column;
  }
  .captain-morgan-halloween .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content {
    margin-top: 25px;
    margin-right: 25px;
    width: 100%;
  }
}
.captain-morgan-halloween .content-card-recipes .only-mobile-download-tab-btn {
  text-align: left;
  display: none;
}
@media (max-width: 768px) {
  .captain-morgan-halloween .content-card-recipes .only-mobile-download-tab-btn {
    display: block;
  }
  .captain-morgan-halloween .content-card-recipes .only-mobile-download-tab-btn a {
    color: #4092df;
  }
  .captain-morgan-halloween .content-card-recipes .only-mobile-download-tab-btn a i {
    margin-right: 10px;
  }
}
.captain-morgan-halloween .mixed-content-card-container {
  text-align: left;
}
@media (min-width: 768px) {
  .captain-morgan-halloween .mixed-content-card-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 768px) {
}
.captain-morgan-halloween .mixed-content-card-container .mixed-content-block {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
.captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-title {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-text {
  color: #3e3e3e;
}
.captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-button {
  font-size: 14px;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.captain-morgan-halloween .mixed-content-card-container .mixed-content-block .image-container {
  background-color: rgba(64, 146, 223, 0.5);
}
.captain-morgan-halloween .mixed-content-card-container .mixed-content-block .image-container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block {
    width: 100%;
    display: flex;
    height: 340px;
    margin-bottom: 80px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block.image-left .copy-container {
    order: 0;
    padding-right: 115px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block.image-left .image-container {
    order: 1;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block.image-right .copy-container {
    order: 1;
    padding-left: 65px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block.image-right .image-container {
    order: 0;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container {
    height: 100%;
    width: 100%;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 18px;
    padding-top: 60px;
    line-height: 40px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    width: 370px;
    padding: 20px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .image-container {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: unset;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container {
    width: 100%;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 20px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    font-size: 16px;
    padding-top: 10px;
    line-height: 26px;
    color: #3e3e3e;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 13px 0;
    background-color: #f2af0c;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    bottom: 2px;
    font-weight: 500;
    margin-top: 20px;
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .image-container {
    margin-left: -6%;
    margin-right: -6%;
    width: 112%;
    height: 250px;
    background-color: rgba(64, 146, 223, 0.5);
  }
  .captain-morgan-halloween .mixed-content-card-container .mixed-content-block .image-container img {
    width: 100%;
    height: 100%;
  }
}
.captain-morgan-halloween .download-block {
  background-color: #ffffff;
}
.captain-morgan-halloween .download-block .download-header {
  position: relative;
  border-bottom: 1px solid;
  height: 95px;
}
.captain-morgan-halloween .download-block .download-header .title {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  height: inherit;
  padding-top: 35px;
  padding-left: 60px;
}
.captain-morgan-halloween .download-block .download-header .download-btn {
  position: absolute;
  top: 38px;
  right: 40px;
  font-size: 14px;
}
.captain-morgan-halloween .download-block .download-header .download-btn a {
  color: #4092df;
}
.captain-morgan-halloween .download-block .download-header .download-btn a i {
  margin-right: 10px;
}
.captain-morgan-halloween .download-block .download-body {
  padding: 40px;
}
.captain-morgan-halloween .download-block .download-body .download-card-container {
  display: flex;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card {
  width: 220px;
  height: 355px;
  margin-left: 20px;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card:first-child {
  margin-left: 0;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .image-container {
  height: 170px;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .image-container img {
  height: 100%;
  width: 100%;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .body-container {
  background-color: #f2f2f2;
  height: 185px;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .body-container .title-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  color: #0041a5;
  text-transform: uppercase;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .body-container .description-text {
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;
  word-break: break-word;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .body-container .download-card-btn {
  margin-top: 20px;
  border: 1px solid;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .body-container .download-card-btn .download-link-box {
  color: #3e3e3e;
}
.captain-morgan-halloween .download-block .download-body .download-card-container .download-card .body-container .download-card-btn .download-link-box i {
  margin-right: 10px;
}
.captain-morgan-halloween .download-block .download-footer {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #3e3e3e;
}
@media (max-width: 768px) {
  .captain-morgan-halloween .download-block .download-header .title {
    padding-top: 21px;
    padding-left: 21px;
    height: unset;
  }
  .captain-morgan-halloween .download-block .download-header .download-btn {
    position: unset;
    text-align: left;
    padding-left: 20px;
  }
  .captain-morgan-halloween .download-block .download-body {
    padding: 20px;
  }
  .captain-morgan-halloween .download-block .download-body .download-card-container {
    flex-direction: column;
  }
  .captain-morgan-halloween .download-block .download-body .download-card-container .download-card {
    width: 100%;
    height: unset;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .captain-morgan-halloween .download-block .download-body .download-card-container .download-card .image-container {
    height: 225px;
  }
  .captain-morgan-halloween .download-block .download-footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
}
.captain-morgan-halloween .related-content-title {
  margin-top: 80px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #7d7773;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.captain-morgan-halloween .vertical-card-container {
  text-align: left;
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .captain-morgan-halloween .vertical-card-container {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
  }
}
.captain-morgan-halloween .vertical-card-container .card-related-content {
  font-family: 'Roboto', sans-serif;
  height: 430px;
  display: block;
}
@media (min-width: 768px) {
  .captain-morgan-halloween .vertical-card-container .card-related-content {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 33.3333%;
    flex: 1 1 auto;
  }
}
@media (max-width: 768px) {
  .captain-morgan-halloween .vertical-card-container .card-related-content {
    margin-bottom: 4%;
  }
}
.captain-morgan-halloween .vertical-card-container .card-related-content .image-container {
  background-color: rgba(64, 146, 223, 0.5);
  height: 225px;
}
.captain-morgan-halloween .vertical-card-container .card-related-content .image-container img {
  width: 100%;
  height: 100%;
}
.captain-morgan-halloween .vertical-card-container .card-related-content .copy-container {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 180px;
}
.captain-morgan-halloween .vertical-card-container .card-related-content .copy-container .copy-text {
  padding: 20px 30px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  color: #000000;
}
.captain-morgan-halloween .vertical-card-container .card-related-content .copy-container .copy-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #4092df;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 30px;
  text-decoration: none;
}
.captain-morgan-halloween .vertical-card-container .card-related-content .copy-container .copy-link:hover {
  border-bottom: 2px solid;
  margin-bottom: -2px;
}
.captain-morgan-halloween .vertical-card-container .card-related-content .copy-container .copy-link i.fas.fa-angle-right {
  margin-left: 15px;
  font-size: 16px;
  color: #4092df;
  position: absolute;
  bottom: 4px;
}
.slds-col--padded.contentRegion.comm-layout-column {
  padding: 0;
}
.cCP_NewsDetail .detail-date.p-16-white-bold,
.cCP_NewsDetail .btn-div.content-button-container {
  display: none;
}
.cCP_NewsDetail {
  margin: unset;
  padding: unset;
}
