.horizontal-cards-container {
	padding-bottom: 35px;
	//Desktop
	@media (min-width: 768px) {
		display: flex;
		margin-right: -1rem;
		margin-left: -1rem;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-bottom: 0;
	}
	// HORIZONTAL CARD
	.card-container {
		margin-bottom: 25px;
		.image-container {
			background-color: rgba(64, 146, 223, 0.5);
			img {
				height: 100%;
				width: 100%;
			}
		}
		.content-container {
			background-color: #ffffff;
			.icon {
				height: 35px;
			}
			.content-title {
				font-size: 18px;
				line-height: 32px;
				font-weight: bold;
				margin: unset;
			}
			.content-text {
				font-size: 16px;
				line-height: 26px;
				margin: unset;
			}
		}
		//DESKTOP
		@media (min-width: 768px) {
			height: 250px;
			display: flex;
			padding-right: 1rem;
			padding-left: 1rem;
			width: 50%;
			flex: 1 1 auto;
			margin-bottom: 35px;
			.image-container {
				width: 45%;
			}
			.content-container {
				width: 54%;
				padding-top: 44px;
				padding-right: 30px;
				padding-bottom: 30px;
				padding-left: 50px;
				
			}
			&.image-left {
				.image-container {
					order: 0;
					border-right: 5px solid #be63f7;
				}
				.content-container {
					order: 1;
				}
			}
			&.image-right {
				.image-container {
					order: 1;
					border-left: 5px solid #be63f7;
				}
				.content-container {
					order: 0;
				}
			}
		}
		//MOBILE
		@media (max-width: 768px) {
			padding-left: 6%;
			padding-right: 6%;
			margin-bottom: 4%;
			.image-container {
				height: 260px;
				width: 100%;
				border-bottom: 5px solid #be63f7;
			}
			.content-container {
				width: 100%;
				padding-top: 40px;
				padding-bottom: 30px;
				.icon {
					padding-right: 30px;
					padding-left: 30px;
				}
				.content-title {
					
					padding-right: 30px;
					padding-left: 30px;
				}
				.content-text {
					padding-right: 30px;
					padding-left: 30px;
				}
			}
		}
	}
}