.match-pint-page-container {
	text-align: left;
	background-color: #f2f2f2;
	.banner-container {
		padding-bottom: 60px;
	}
	.description-container {
		padding-bottom: 60px;
		padding-left: 20%;
		padding-right: 20%;
		.description {
			font-size: 20px;
			line-height: 32px;
		}
	}
	.subtitle-container {
		padding-bottom: 60px;
		&.center {
			padding-left: 20%;
			padding-right: 20%;
		}
		&.left {
			padding-left: 10%;
		}
		.subtitle {
			font-size: 28px;
			line-height: 40px;
		}
	}
	.horizontal-card-container {
		padding-bottom: 60px;
	}
	.small-banner-card-container {
		padding-bottom: 100px;
	}
	.alone-image-container {
		padding-bottom: 80px;
		.img {
			padding-left: 20%;
			padding-right: 20%;
			width: 100%;
			height: 475px;
		}
	}
	.vertical-card-container {
		padding-bottom: 80px;
		padding-left: 10%;
		padding-right: 10%;
		// CARD RELATED STYLES
		.card-related-content {
            font-family: 'Roboto', sans-serif;
			height: 430px;
			display: block;
		}
		.card-related-content .image-container {
            background-color: rgba(64, 146, 223, 0.5);
			height: 250px;
		}
		.card-related-content .image-container img {
            width: 100%;
            height: 100%;
		}
		.card-related-content .copy-container {
            background-color: #ffffff;
            position: relative;
			width: 100%;
			height: 180px;
		}
		.card-related-content .copy-container .copy-text {
			width: 260px;
			padding: 20px 0 0 30px;
			margin: 0;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;
			line-height: 1.75;
			color: #000000;
		}
		.card-related-content .copy-container .copy-link {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.71;
			color: #3e3e3e;
			text-transform: uppercase;
			position: absolute;
			bottom: 20px;
			left: 30px;
			text-decoration: none;
			width: 100%;
		}
		.card-related-content .copy-container .copy-link i.fas.fa-angle-right {
			margin-left: 15px;
			font-size: 16px;
			color: #3e3e3e;
			position: absolute;
			bottom: 4px;
		}
	}
}