.match-pint-page-container {
	text-align: left;
	background-color: #f2f2f2;
	.banner-container {
		padding-bottom: 60px;
	}
	.description-container {
		padding-bottom: 60px;
		padding-left: 20%;
		padding-right: 20%;
		.description {
			font-size: 20px;
			line-height: 32px;
		}
	}
	.subtitle-container {
		padding-bottom: 60px;
		&.center {
			padding-left: 20%;
			padding-right: 20%;
		}
		&.left {
			padding-left: 10%;
		}
		.subtitle {
			font-size: 28px;
			line-height: 40px;
		}
	}
	.horizontal-cards-container {
		padding-bottom: 35px;
		// HORIZONTAL LEFT IMAGE CARD
		.card-left-image-container{
			display: flex;
			height: 250px;
			margin-bottom: 25px;
			.image-container {
				width: 45%;
				border-right: 5px solid #f2af0c;
				img {
					height: 100%;
					width: 100%;
				}
			}
			.content-container {
				width: 54%;
				padding-bottom: 30px;
				padding-left: 50px;
				padding-top: 44px;
				padding-right: 30px;
				background-color: #ffffff;
				.icon {
					height: 35px;
					width: 35px;
				}
				.content-title {
					font-size: 20px;
					line-height: 32px;
				}
				.content-text {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
		// HORIZONTAL RIGHT IMAGE CARD
		.card-right-image-container {
			display: flex;
			height: 250px;
			margin-bottom: 25px;
			.image-container {
				width: 45%;
				border-left: 5px solid #f2af0c;
				img {
					height: 100%;
					width: 100%;
				}
			}
			.content-container {
				width: 54%;
				padding-bottom: 30px;
				padding-left: 50px;
				padding-top: 44px;
				padding-right: 30px;
				background-color: #ffffff;
				.icon {
					height: 35px;
					width: 35px;
				}
				.content-title {
					font-size: 20px;
					line-height: 32px;
				}
				.content-text {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
	}
	.small-banner-card-container {
		padding-bottom: 100px;
		padding-left: 20%;
		padding-right: 20%;
		// MIXED CONTENT BLOCK 
		.mixed-content-block {//GENERAL AND PHONE
			box-sizing: border-box;//FIXME: ??
			font-family: 'Roboto', sans-serif;
			background-color: #ffffff;
			height: 540px;
    		width: 335px;
			.copy-container {
				height: 288px;
				box-sizing: border-box; 
				width: 100%;
				.content-title {
					font-size: 20px;
					font-weight: bold;
					line-height: 1.63;
					color: #000000;
					margin: 0;
					text-transform: uppercase;
					padding-top: 20px;
				}
				.content-text {
					font-size: 16px;
					padding-top: 10px;
					line-height: 1.63;
					color: #3e3e3e;
					margin: 0;
				}
				.content-button {
					width: 100%;
					font-size: 14px;
					text-align: center;
					display: block;
					padding: 13px 0;
					background-color: #f2af0c;
					color: #000;
					text-decoration: none;
					text-transform: uppercase;
					position: absolute;
					bottom: 2px;
					font-weight: 500;
				}
			}
			.image-container {
				width: 335px;
				height: 250px;
				background-color: rgba(64, 146, 223, 0.5);
				img {
					width: 100%;
				}
			}
		}
		
		@media (min-width: 768px) {//DESKTOP
			.mixed-content-block {
				height: 190px;
				width: 100%;
				.copy-container {
					float: left;
					height: 100%;
					width: 63%;
					padding-left: 60px;
					padding-right: 80px;
					padding-top: 30px;
					.content-text {
						padding-bottom: 20px;
					}
					.content-button {
						position: relative;
						width: 140px;
					}
				}
				.image-container {
					height: 100%;
					width: 37%;
					float: left;
					img {
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
	.alone-image-container {
		padding-bottom: 80px;
		.img {
			padding-left: 20%;
			padding-right: 20%;
			width: 100%;
			height: 475px;
		}
	}
	.vertical-card-container {
		padding-bottom: 80px;
		padding-left: 10%;
		padding-right: 10%;
		// CARD RELATED STYLES
		.card-related-content {
			font-family: 'Roboto', sans-serif;
			height: 430px;
			display: block;
		}
		.card-related-content .image-container {
			background-color: rgba(64, 146, 223, 0.5);
			height: 250px;
		}
		.card-related-content .image-container img {
			width: 100%;
			height: 100%;
		}
		.card-related-content .copy-container {
			background-color: #ffffff;
			position: relative;
			width: 100%;
			height: 180px;
		}
		.card-related-content .copy-container .copy-text {
			width: 100%;
			padding: 20px 30px;
			margin: 0;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;
			line-height: 1.75;
			color: #000000;
		}
		.card-related-content .copy-container .copy-link {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.71;
			color: #3e3e3e;
			text-transform: uppercase;
			position: absolute;
			bottom: 20px;
			left: 30px;
			text-decoration: none;
			width: 100%;
		}
		.card-related-content .copy-container .copy-link i.fas.fa-angle-right {
			margin-left: 15px;
			font-size: 16px;
			color: #3e3e3e;
			position: absolute;
			bottom: 4px;
		}
	}
}
