.banner-container {
	font-family: Roboto, sans-serif;
	.banner-card-container {
		text-align: left;
		background-color: #ffffff;
		display: flex;
		.content-container {
			flex: 0 0 auto;
			width: 50%;
			.label {
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				margin: auto;
				height: 40px;
				margin-left: 83px;
				margin-top: 25px;
				width: 125px;
				background-color: #51ae00;
				span {
					font-size: 14px;
					font-weight: bold;
					color: #ffffff;
					text-transform: uppercase;
				}
			}
			.title-container {
				margin-top: 60px;
				margin-bottom: 20px;
				&.with-label {
					margin-top: 20px;
				}
				.title {
					font-size: 38px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.32;
					letter-spacing: normal;
					color: black;
					text-transform: uppercase;
				}
			}
			.text-container {
				.text {
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.63;
					letter-spacing: normal;
					color: #3e3e3e;
				}
			}
			.btn-container {
				.content-button {
					width: 100%;
					font-size: 14px;
					text-align: center;
					display: block;
					padding: 13px 0;
					background-color: #f2af0c;
					color: #000;
					text-decoration: none;
					text-transform: uppercase;
					bottom: 2px;
					font-weight: 500;
					&:hover {
						background-color: #ffc800;
						color: #000;
					}
				}
			}
		}
		.concont {
			flex: 0 0 auto;
			width: 50%;
			.image-container {
				position: relative;
				width: 100%;
				height: 100%;
				background-color: rgba(64, 146, 223, 0.5);
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					display: none;
				}
			}
		}
		//DESKTOP
		@media screen and (min-width: 768px) {
			height: 420px;
			.text-container,
			.title-container {
				padding-left: 83px;
			}
			.text-container {
				padding-bottom: 20px;
			}
			.btn-container {
				height: 45px;
				width: 160px;
				margin-left: 83px;
				margin-bottom: 30px;
			}
			.concont {
				.image-container {
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						border-top: 425px solid #ffffff;
						border-right: 80px solid transparent;
						width: 0;
					}
					.desktop-img {
						display: block;
					}
				}
			}
		}
		//MOBILE
		@media screen and (max-width: 768px) {
			flex-flow: column;
			margin-top: 0;
			.content-container {
				width: 100%;
				padding: 10px 0;
				order: 1;
				.label {
					margin-left: 20px;
					margin-top: 15px;
				}
				.text-container,
				.title-container {
					padding: 20px;
					margin: 0;
					.text {
						font-size: 16px;
						font-weight: normal;
						line-height: 1.63;
						color: #3e3e3e;
						margin: 0;
					}
					.title {
						font-size: 28px;
						font-weight: bold;
						margin: 0;
					}
				}
				.title-container {
					&.with-label {
						margin-top: 20px;
					}
				}
				.btn-container {
					width: 88%;
					height: 45px;
					margin-left: 6%;
					margin-right: 6%;
				}
			}
			.concont {
				width: 100%;
				height: 280px;
				order: 0;
				.image-container {
					.phone-img {
						display: block;
						position: absolute;
						height: 280px;
						left: 0;
						bottom: 0;
					}
				}
			}
		}
	}
}
