@media (min-width: 768px) {
  .mixed-content-card-container {
    padding-left: 9%;
    padding-right: 9%;
  }
}
@media (max-width: 768px) {
  .mixed-content-card-container {
    padding-left: 6%;
    padding-right: 6%;
  }
}
.mixed-content-card-container .mixed-content-block {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
.mixed-content-card-container .mixed-content-block .copy-container .content-title {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.mixed-content-card-container .mixed-content-block .copy-container .content-text {
  color: #3e3e3e;
}
.mixed-content-card-container .mixed-content-block .copy-container .content-button {
  font-size: 14px;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.mixed-content-card-container .mixed-content-block .copy-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.mixed-content-card-container .mixed-content-block .image-container {
  background-color: rgba(64, 146, 223, 0.5);
}
.mixed-content-card-container .mixed-content-block .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .mixed-content-card-container .mixed-content-block {
    width: 100%;
    display: flex;
    padding-bottom: 80px;
  }
  .mixed-content-card-container .mixed-content-block:last-child {
    padding-bottom: 0;
  }
  .mixed-content-card-container .mixed-content-block.text-left .copy-container {
    order: 0;
    margin-right: 6%;
  }
  .mixed-content-card-container .mixed-content-block.text-left .image-container {
    order: 1;
  }
  .mixed-content-card-container .mixed-content-block.text-right .copy-container {
    order: 1;
    margin-left: 6%;
  }
  .mixed-content-card-container .mixed-content-block.text-right .image-container {
    order: 0;
  }
  .mixed-content-card-container .mixed-content-block .copy-container {
    height: 100%;
    width: 44%;
    text-align: left;
    align-self: center;
  }
  .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 18px;
  }
  .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    padding: 20px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .mixed-content-card-container .mixed-content-block .image-container {
    height: 390px;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .mixed-content-card-container .mixed-content-block {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding-bottom: 40px;
    margin: 0;
  }
  .mixed-content-card-container .mixed-content-block .copy-container {
    width: 100%;
  }
  .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 20px;
  }
  .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    font-size: 16px;
    padding-top: 10px;
    color: #3e3e3e;
  }
  .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 13px 0;
    background-color: #f2af0c;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    bottom: 2px;
    font-weight: 500;
    margin-top: 20px;
  }
  .mixed-content-card-container .mixed-content-block .image-container {
    height: 250px;
    margin-left: -7%;
    margin-right: -7%;
    width: 114%;
    background-color: rgba(64, 146, 223, 0.5);
  }
  .mixed-content-card-container .mixed-content-block .image-container img {
    width: 100%;
    height: 100%;
  }
}
