.BaileysBrandPage {
  text-align: left;
  background-color: #f2f2f2;
}
.BaileysBrandPage .titles-and-descriptions .general-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  padding-left: 18%;
  padding-right: 18%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .BaileysBrandPage .titles-and-descriptions .general-title {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .BaileysBrandPage .titles-and-descriptions .general-title {
    padding-bottom: 40px;
  }
}
.BaileysBrandPage .titles-and-descriptions .general-description {
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  color: #3e3e3e;
  padding-right: 18%;
  padding-left: 18%;
}
@media screen and (min-width: 768px) {
  .BaileysBrandPage .titles-and-descriptions .general-description {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .BaileysBrandPage .titles-and-descriptions .general-description {
    padding-bottom: 80px;
  }
}
.BaileysBrandPage .titles-and-descriptions .general-description.small {
  font-size: 16px;
}
.BaileysBrandPage .titles-and-descriptions .related-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  text-transform: uppercase;
  border-bottom: 1px solid #7d7773;
}
@media screen and (min-width: 768px) {
  .BaileysBrandPage .titles-and-descriptions .related-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .BaileysBrandPage .titles-and-descriptions .related-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .BaileysBrandPage .titles-and-descriptions .general-title {
    font-size: 24px;
    padding-left: 6%;
    padding-right: 5%;
  }
  .BaileysBrandPage .titles-and-descriptions .general-description {
    padding-left: 6%;
    padding-right: 5%;
  }
  .BaileysBrandPage .titles-and-descriptions .related-title {
    font-size: 24px;
    margin-left: 6%;
    margin-right: 6%;
  }
}
.BaileysBrandPage .icon-and-description-container {
  display: flex;
}
.BaileysBrandPage .icon-and-description-container .item-container {
  display: flex;
}
.BaileysBrandPage .icon-and-description-container .item-container .image-container {
  height: 96px;
  width: 96px;
}
.BaileysBrandPage .icon-and-description-container .item-container .image-container img {
  width: 100%;
  height: 100%;
}
.BaileysBrandPage .icon-and-description-container .item-container .descrition-container {
  width: 240px;
  margin-left: 40px;
  padding-right: 30px;
}
.BaileysBrandPage .icon-and-description-container .item-container .descrition-container .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.BaileysBrandPage .icon-and-description-container .item-container .descrition-container .description {
  font-size: 18px;
  line-height: 1.56;
}
@media screen and (min-width: 768px) {
  .BaileysBrandPage .icon-and-description-container {
    margin-bottom: 80px;
  }
  .BaileysBrandPage .icon-and-description-container .item-container {
    border-right: 1px solid black;
    margin-left: 70px;
  }
  .BaileysBrandPage .icon-and-description-container .item-container:last-child {
    border-right: unset;
  }
  .BaileysBrandPage .icon-and-description-container .item-container:first-child {
    margin-left: unset;
  }
}
@media (max-width: 768px) {
  .BaileysBrandPage .icon-and-description-container {
    flex-flow: column;
  }
  .BaileysBrandPage .icon-and-description-container .item-container {
    flex-flow: column;
    padding-bottom: 40px;
    text-align: center;
  }
  .BaileysBrandPage .icon-and-description-container .item-container .image-container {
    margin: auto;
    margin-bottom: 20px;
  }
  .BaileysBrandPage .icon-and-description-container .item-container .descrition-container {
    width: 88%;
    margin-right: 6%;
    margin-left: 6%;
    padding: unset;
  }
}
.BaileysBrandPage .content-card-recipes {
  padding-left: 108px;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  margin-bottom: 80px;
  padding-bottom: 110px;
}
.BaileysBrandPage .content-card-recipes .recipe-header {
  display: flex;
  flex-direction: column;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top {
  display: flex;
  position: relative;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty {
  position: absolute;
  top: 0;
  right: 109px;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .puntuation-block {
  display: flex;
  margin: 2px;
  width: fit-content;
  border: 1px solid #0041a5;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .puntuation-block .p-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.38;
  background-color: #0041a5;
  color: #ffffff;
  padding: 4px 8px;
  text-transform: uppercase;
  min-width: 100px;
  text-align: center;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .puntuation-block .puntuation-container {
  padding-left: 10px;
  min-width: 95px;
  padding-right: 5px;
  color: #bebebe;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .puntuation-block .puntuation-container .far.fa-grin {
  font-size: 20px;
  padding-right: 5px;
  padding-top: 3px;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .puntuation-block .puntuation-container .fas.fa-cocktail {
  font-size: 17px;
  padding-right: 5px;
  padding-top: 3px;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .puntuation-block .puntuation-container .selected {
  color: #0041a5;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty .difficulty {
  margin-top: 15px;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipes-description {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding-bottom: 60px;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipe-information .recipes-medium {
  float: left;
  display: inline-flex;
  border-right: 2px solid #b9b9b9;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  width: 21.5%;
  position: relative;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipe-information .recipes-medium .recipes-medium-title {
  display: flex;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
.BaileysBrandPage .content-card-recipes .recipe-header .recipe-information .recipes-medium .description {
  position: absolute;
  bottom: 0;
}
.BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty {
  display: none;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method {
  display: flex;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content {
  background-color: rgba(64, 146, 223, 0.5);
}
@media (min-width: 768px) {
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content {
    width: 44%;
    height: 316px;
    margin-top: 25px;
    margin-right: 25px;
  }
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content img {
  height: 100%;
  width: 100%;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
  position: relative;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block {
  z-index: 3;
  bottom: -65px;
  position: absolute;
  width: 100%;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block .porcentual-description {
  font-size: 16px;
  line-height: 1.63;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  border: 4px solid #0041a5;
  padding-right: 75px;
  background-color: white;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block .porcentual-description .porcentual-number-container {
  position: absolute;
  bottom: -20px;
  right: -35px;
  color: white;
  border-radius: 50%;
  background-color: #0041a5;
  width: 100px;
  height: 100px;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block .porcentual-description .porcentual-number-container .porcentual-number {
  padding-top: 29px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 768px) {
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block {
    bottom: -100px;
    left: -14px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block .porcentual-description {
    padding-right: 80px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block .porcentual-description .porcentual-number-container {
    width: 110px;
    height: 110px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .porcentual-block .porcentual-description .porcentual-number-container .porcentual-number {
    padding-top: 35px;
  }
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"] {
  display: none;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"]:checked ~ .label {
  background: rgba(242, 175, 12, 0.12);
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 2px solid #f2af0c;
  z-index: 2;
}
@media (min-width: 768px) {
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    width: 44%;
  }
}
@media (max-width: 768px) {
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    height: 320px;
    margin-bottom: 40px;
  }
}
@media (max-width: 321px) {
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    height: 320px;
    margin-bottom: 40px;
  }
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"]:checked ~ .label ~ .content {
  z-index: 1;
  display: table;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs {
  position: relative;
  clear: both;
  margin: 0;
  padding-top: 25px;
  white-space: nowrap;
  display: flex;
  width: 100%;
  border-bottom: 2px solid #979797;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn {
  display: none;
}
@media (min-width: 768px) {
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 14px;
    display: block;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn a {
    color: #4092df;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .download-tab-btn a i {
    margin-right: 10px;
  }
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab {
  vertical-align: top;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 50px;
  line-height: 50px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 2px solid #979797;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .label:hover {
  cursor: pointer;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content {
  white-space: normal;
  top: 77px;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: white;
  height: 265px;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol,
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 45px;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li,
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li {
  margin-bottom: 10px;
  counter-increment: my-awesome-counter;
  position: relative;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li:last-child,
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li:last-child {
  margin-bottom: 0;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li p,
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000000;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ol li:before,
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li:before {
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  --size: 25px;
  left: calc(-1 * var(--size) - 20px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: #3e3e3e;
  border-radius: 50%;
  text-align: center;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul {
  padding-left: 25px;
}
.BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tabs .tab .content ul li:before {
  content: "";
  color: #fff;
  /* font-size : 10px; */
  font-weight: bold;
  position: absolute;
  --size: 8px;
  left: calc(-1 * var(--size) - 15px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 9px;
  background: #7d7773;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 768px) {
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container {
    flex-wrap: wrap;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab {
    margin-top: -6px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab .content {
    top: 71px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .tab-table-container .tab [type="radio"]:checked ~ .label ~ .content {
    z-index: 1;
    display: table;
    top: 71px;
  }
}
@media (max-width: 768px) {
  .BaileysBrandPage .content-card-recipes {
    padding-left: unset;
    padding-right: unset;
    padding-bottom: 40px;
    margin-bottom: 81px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header {
    padding-right: 6%;
    padding-left: 6%;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-factor-and-difficulty {
    display: none;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .recipes-top .recipes-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .recipes-description {
    padding-bottom: 20px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .recipe-information .recipes-medium {
    float: unset;
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty {
    display: block;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .puntuation-block {
    display: flex;
    margin: 2px;
    width: fit-content;
    border: 1px solid #0041a5;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .puntuation-block .p-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38;
    background-color: #0041a5;
    color: #ffffff;
    padding: 4px 8px;
    text-transform: uppercase;
    min-width: 100px;
    text-align: center;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .puntuation-block .puntuation-container {
    padding-left: 10px;
    min-width: 95px;
    padding-right: 5px;
    color: #bebebe;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .puntuation-block .puntuation-container .far.fa-grin {
    font-size: 20px;
    padding-right: 5px;
    padding-top: 3px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .puntuation-block .puntuation-container .fas.fa-cocktail {
    font-size: 17px;
    padding-right: 5px;
    padding-top: 3px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .puntuation-block .puntuation-container .selected {
    color: #0041a5;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .wow-factor img {
    height: 40px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .difficulty {
    margin-top: 20px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-header .only-mobile-recipes-factor-and-difficulty .difficulty img {
    height: 40px;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body {
    padding-right: 6%;
    padding-left: 6%;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method {
    flex-direction: column;
  }
  .BaileysBrandPage .content-card-recipes .recipe-body .recipes-ingredients-method .recipes-image-content {
    margin-top: 25px;
    margin-right: 25px;
    width: 100%;
  }
}
.BaileysBrandPage .content-card-recipes .only-mobile-download-tab-btn {
  text-align: left;
  display: none;
}
@media (max-width: 768px) {
  .BaileysBrandPage .content-card-recipes .only-mobile-download-tab-btn {
    margin-top: 87px;
    padding-right: 6%;
    padding-left: 6%;
    display: block;
  }
  .BaileysBrandPage .content-card-recipes .only-mobile-download-tab-btn a {
    color: #4092df;
  }
  .BaileysBrandPage .content-card-recipes .only-mobile-download-tab-btn a i {
    margin-right: 10px;
  }
}
.slds-col--padded.contentRegion.comm-layout-column {
  padding: 0;
}
.cCP_NewsDetail .detail-date.p-16-white-bold,
.cCP_NewsDetail .btn-div.content-button-container {
  display: none;
}
.cCP_NewsDetail {
  margin: unset;
  padding: unset;
}
