@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  background-color: #b1b1b1;
  box-sizing: border-box;
}
.card-layout {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  height: 442px;
  background-color: #ffffff;
  margin: auto;
}
.card-layout .image-container {
  width: 100%;
  height: 223px;
  background-color: rgba(64, 146, 223, 0.5);
}
.card-layout .image-container img {
  width: 100%;
}
.card-layout .copy-container {
  position: relative;
  max-height: 219px;
  height: 100%;
  width: 100%;
}
.card-layout .copy-container .copy-text {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 30px 0 20px;
}
.card-layout .download-link-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  padding: 13px 0 13px 20px;
  max-width: -webkit-fill-available;
  color: #4092df;
  background-color: rgba(242, 242, 242, 0.3);
  border-top: solid 1px #e3e3e3;
  text-decoration: none;
}
.card-layout .download-link-box i.fas.fa-download {
  width: 16px;
  height: 12px;
  color: #4092df;
  padding-right: 8px;
}
