<link rel="stylesheet" href="./tabTable.css">

<div class="tabs">

    <div class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label class="label" for="tab-1">Tab One</label>

        <div class="content">
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <img class="flag-img team-one" src="../../components/img.png" alt="">
                    <img class="flag-img team-two" src="../../components/img.png" alt="">
                    <span class="teams-names"><b>France v Argentina</b> - Tokyo</span>
                </div>
            </div>
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <img class="flag-img team-one" src="../../components/img.png" alt="">
                    <img class="flag-img team-two" src="../../components/img.png" alt="">
                    <span class="teams-names"><b>France v Argentina</b> - Tokyo</span>
                </div>
            </div>
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <div class="content-flag-img">
                        <img class="flag-img team-one" src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006XP9C" alt="">
                        <div class="flag-img-result">
                            <span>23</span>
                        </div>
                    </div>
                    <div class="content-flag-img">
                        <img class="flag-img team-two" src="../../components/img.png" alt="">
                        <div class="flag-img-result">
                            <span>21</span>
                        </div>
                    </div>
                    <span class="teams-names"><b>France v Argentina</b> - Tokyo</span>
                </div>
            </div>
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <img class="flag-img team-one" src="../../components/img.png" alt="">
                    <img class="flag-img team-two" src="../../components/img.png" alt="">
                    <span class="teams-names"><b>France v Argentina</b> - Tokyo</span>
                </div>
            </div>
        </div>
    </div>

    <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label class="label" for="tab-2">Tab Two</label>

        <div class="content">
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <img class="flag-img team-one" src="../../components/img.png" alt="">
                    <img class="flag-img team-two" src="../../components/img.png" alt="">
                    <span class="teams-names"><b>Japan v Rusia</b> - Tokyo</span>
                </div>
            </div>
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <img class="flag-img team-one" src="../../components/img.png" alt="">
                    <img class="flag-img team-two" src="../../components/img.png" alt="">
                    <span class="teams-names"><b>Japan v Rusia</b> - Tokyo</span>
                </div>
            </div>
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <img class="flag-img team-one" src="../../components/img.png" alt="">
                    <img class="flag-img team-two" src="../../components/img.png" alt="">
                    <span class="teams-names"><b>Japan v Rusia</b> - Tokyo</span>
                </div>
            </div>
            <div class="row-container">
                <div class="match-date">
                    <p class="date"><b>Sat 21 Sep</b> 8.15 am</p>
                </div>
                <div class="match-teams">
                    <img class="flag-img team-one" src="../../components/img.png" alt="">
                    <img class="flag-img team-two" src="../../components/img.png" alt="">
                    <span class="teams-names"><b>Japan v Rusia</b> - Tokyo</span>
                </div>
            </div>
        </div>
    </div>
</div>