
<link rel="stylesheet" href="./HorizontalCardContainer.css">
<!-- HORIZONTAL CARDS -->
<div class="horizontal-cards-container">
    <div class="card-container left">
        <div class="image-container">
            <img src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUfh" />
        </div>
        <div class="content-container">
            <img class="icon"
                src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUsb" />
            <p class="content-title">Balanced choices</p>
            <p class="content-text">Stocking the right products to fit with all lifestyles.</p>
        </div>
    </div>
    <div class="card-container left">
        <div class="image-container">
            <img src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUfm" />
        </div>
        <div class="content-container">
            <img class="icon"
                src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUsg" />
            <p class="content-title">Make the moment</p>
            <p class="content-text">Creating moments worth sharing with friends, fans and followers.</p>
        </div>
    </div>
    <div class="card-container right">
        <div class="image-container">
            <img src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUfr" />
        </div>
        <div class="content-container">
            <img class="icon"
                src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUsl" />
            <p class="content-title">Exploration</p>
            <p class="content-text">Providing customers with new ways to discover interesting flavours and
                experiences.</p>
        </div>
    </div>
    <div class="card-container right">
        <div class="image-container">
            <img src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUfw" />
        </div>
        <div class="content-container">
            <img class="icon"
                src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUsq" />
            <p class="content-title">Celebration</p>
            <p class="content-text">Taking advantage of the unique role that alcoholic beverages play in seasonal
                events and celebrations.</p>
        </div>
    </div>
</div>