.WomensRugby {
  text-align: left;
  background-color: #f2f2f2;
}
.WomensRugby .titles-and-descriptions .general-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  padding-left: 18%;
  padding-right: 18%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .WomensRugby .titles-and-descriptions .general-title {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .titles-and-descriptions .general-title {
    padding-bottom: 40px;
  }
}
.WomensRugby .titles-and-descriptions .general-description {
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  color: #3e3e3e;
  padding-right: 18%;
  padding-left: 18%;
}
@media screen and (min-width: 768px) {
  .WomensRugby .titles-and-descriptions .general-description {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .titles-and-descriptions .general-description {
    padding-bottom: 80px;
  }
}
.WomensRugby .titles-and-descriptions .related-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  text-transform: uppercase;
  border-bottom: 1px solid #7d7773;
}
@media screen and (min-width: 768px) {
  .WomensRugby .titles-and-descriptions .related-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .titles-and-descriptions .related-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .titles-and-descriptions .general-title {
    font-size: 24px;
    padding-left: 6%;
    padding-right: 5%;
  }
  .WomensRugby .titles-and-descriptions .general-description {
    padding-left: 6%;
    padding-right: 5%;
  }
  .WomensRugby .titles-and-descriptions .related-title {
    font-size: 24px;
    margin-left: 6%;
    margin-right: 6%;
  }
}
@media screen and (min-width: 768px) {
  .WomensRugby .banner-container {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .banner-container {
    padding-bottom: 80px;
  }
}
.WomensRugby .banner-container .banner-card-container {
  text-align: left;
  background-color: #ffffff;
}
.WomensRugby .banner-container .banner-card-container .label {
  height: 40px;
  margin-left: 83px;
  margin-top: 25px;
  width: 125px;
  background-color: #51ae00;
}
.WomensRugby .banner-container .banner-card-container .label div {
  height: 100%;
}
.WomensRugby .banner-container .banner-card-container .label div span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.WomensRugby .banner-container .banner-card-container .title-container {
  margin-top: 60px;
  margin-bottom: 20px;
}
.WomensRugby .banner-container .banner-card-container .title-container.with-label {
  margin-top: 20px;
}
.WomensRugby .banner-container .banner-card-container .title-container .title {
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: black;
  text-transform: uppercase;
}
.WomensRugby .banner-container .banner-card-container .text-container .text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #3e3e3e;
}
.WomensRugby .banner-container .banner-card-container .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.WomensRugby .banner-container .banner-card-container .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.WomensRugby .banner-container .banner-card-container .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 146, 223, 0.5);
}
.WomensRugby .banner-container .banner-card-container .image-container img {
  height: 100%;
  width: 100%;
  display: none;
}
@media screen and (min-width: 768px) {
  .WomensRugby .banner-container .banner-card-container {
    height: 420px;
  }
  .WomensRugby .banner-container .banner-card-container .content-container {
    padding-right: 110px;
  }
  .WomensRugby .banner-container .banner-card-container .text-container,
  .WomensRugby .banner-container .banner-card-container .title-container {
    padding-left: 83px;
  }
  .WomensRugby .banner-container .banner-card-container .text-container {
    padding-bottom: 20px;
  }
  .WomensRugby .banner-container .banner-card-container .btn-container {
    height: 45px;
    width: 160px;
    margin-left: 83px;
  }
  .WomensRugby .banner-container .banner-card-container .image-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 425px solid #ffffff;
    border-right: 80px solid transparent;
    width: 0;
  }
  .WomensRugby .banner-container .banner-card-container .image-container .desktop-img {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .banner-container .banner-card-container {
    flex-wrap: wrap;
    margin-top: 0;
    height: 660px;
  }
  .WomensRugby .banner-container .banner-card-container .label {
    margin-left: 20px;
    margin-top: 15px;
  }
  .WomensRugby .banner-container .banner-card-container .text-container,
  .WomensRugby .banner-container .banner-card-container .title-container {
    padding: 20px;
    padding-top: 0;
    margin: 0;
  }
  .WomensRugby .banner-container .banner-card-container .text-container .text,
  .WomensRugby .banner-container .banner-card-container .title-container .text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    color: #3e3e3e;
  }
  .WomensRugby .banner-container .banner-card-container .text-container .title,
  .WomensRugby .banner-container .banner-card-container .title-container .title {
    font-size: 28px;
    font-weight: bold;
  }
  .WomensRugby .banner-container .banner-card-container .title-container {
    margin-top: 75px;
  }
  .WomensRugby .banner-container .banner-card-container .title-container.with-label {
    margin-top: 20px;
  }
  .WomensRugby .banner-container .banner-card-container .btn-container {
    width: 88%;
    height: 45px;
    margin-left: 6%;
    margin-right: 6%;
  }
  .WomensRugby .banner-container .banner-card-container .image-container .phone-img {
    display: block;
    position: absolute;
    height: 280px;
    left: 0;
    bottom: 0;
  }
}
.WomensRugby .image-text-block {
  display: flex;
  padding-left: 18%;
}
.WomensRugby .image-text-block .itb-image-container {
  width: 80px;
  height: 80px;
  margin-right: 25px;
}
.WomensRugby .image-text-block .itb-image-container img {
  height: 100%;
  width: 100%;
}
.WomensRugby .image-text-block .itb-text-container {
  width: 735px;
  font-size: 20px;
  line-height: 1.6;
  color: #3e3e3e;
}
@media (max-width: 768px) {
  .WomensRugby .image-text-block {
    flex-flow: column;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
  }
  .WomensRugby .image-text-block .itb-image-container {
    margin: auto;
    margin-bottom: 40px;
  }
  .WomensRugby .image-text-block .itb-text-container {
    width: unset;
  }
}
@media screen and (min-width: 768px) {
  .WomensRugby .horizontal-cards-container {
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .horizontal-cards-container {
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .WomensRugby .horizontal-cards-container {
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.WomensRugby .horizontal-cards-container .card-container {
  margin-bottom: 25px;
}
.WomensRugby .horizontal-cards-container .card-container .image-container {
  background-color: rgba(64, 146, 223, 0.5);
}
.WomensRugby .horizontal-cards-container .card-container .image-container img {
  height: 100%;
  width: 100%;
}
.WomensRugby .horizontal-cards-container .card-container .content-container {
  background-color: #ffffff;
}
.WomensRugby .horizontal-cards-container .card-container .content-container .icon {
  height: 35px;
}
.WomensRugby .horizontal-cards-container .card-container .content-container .content-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  margin: unset;
}
.WomensRugby .horizontal-cards-container .card-container .content-container .content-text {
  font-size: 16px;
  line-height: 26px;
  margin: unset;
}
@media (min-width: 768px) {
  .WomensRugby .horizontal-cards-container .card-container {
    height: 250px;
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 50%;
    flex: 1 1 auto;
    margin-bottom: 35px;
  }
  .WomensRugby .horizontal-cards-container .card-container .image-container {
    width: 45%;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container {
    width: 54%;
    padding-top: 44px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
  }
  .WomensRugby .horizontal-cards-container .card-container.left .image-container {
    order: 0;
    border-right: 5px solid #51ae00;
  }
  .WomensRugby .horizontal-cards-container .card-container.left .content-container {
    order: 1;
  }
  .WomensRugby .horizontal-cards-container .card-container.right .image-container {
    order: 1;
    border-left: 5px solid #51ae00;
  }
  .WomensRugby .horizontal-cards-container .card-container.right .content-container {
    order: 0;
  }
}
@media (max-width: 768px) {
  .WomensRugby .horizontal-cards-container .card-container {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 4%;
  }
  .WomensRugby .horizontal-cards-container .card-container .image-container {
    height: 260px;
    width: 100%;
    border-bottom: 5px solid #51ae00;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container .icon {
    padding-right: 30px;
    padding-left: 30px;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container .content-title {
    padding-right: 30px;
    padding-left: 30px;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container .content-text {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .WomensRugby .mixed-content-card-container {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .mixed-content-card-container {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .WomensRugby .mixed-content-card-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 768px) {
  .WomensRugby .mixed-content-card-container {
    padding-left: 6%;
    padding-right: 6%;
  }
}
.WomensRugby .mixed-content-card-container .mixed-content-block {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
.WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-title {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-text {
  color: #3e3e3e;
}
.WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-button {
  font-size: 14px;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.WomensRugby .mixed-content-card-container .mixed-content-block .image-container {
  background-color: rgba(64, 146, 223, 0.5);
}
.WomensRugby .mixed-content-card-container .mixed-content-block .image-container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .WomensRugby .mixed-content-card-container .mixed-content-block {
    width: 100%;
    display: flex;
    height: 340px;
    margin-bottom: 80px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block.image-left .copy-container {
    order: 0;
    padding-right: 115px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block.image-left .image-container {
    order: 1;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block.image-right .copy-container {
    order: 1;
    padding-left: 115px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block.image-right .image-container {
    order: 0;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container {
    height: 100%;
    width: 100%;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 18px;
    padding-top: 60px;
    line-height: 40px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    padding: 20px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .image-container {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .WomensRugby .mixed-content-card-container .mixed-content-block {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: unset;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container {
    width: 100%;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 20px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    font-size: 16px;
    padding-top: 10px;
    line-height: 26px;
    color: #3e3e3e;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 13px 0;
    background-color: #f2af0c;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    bottom: 2px;
    font-weight: 500;
    margin-top: 20px;
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .image-container {
    height: 250px;
    margin-left: -7%;
    margin-right: -7%;
    width: 114%;
    background-color: rgba(64, 146, 223, 0.5);
  }
  .WomensRugby .mixed-content-card-container .mixed-content-block .image-container img {
    width: 100%;
    height: 100%;
  }
}
.WomensRugby .black-box {
  display: flex;
  margin-right: 18%;
  margin-left: 18%;
  position: relative;
  color: white;
  background-color: #3e3e3e;
  height: 90px;
}
@media screen and (min-width: 768px) {
  .WomensRugby .black-box {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .black-box {
    margin-bottom: 40px;
  }
}
.WomensRugby .black-box.white-background {
  background-color: #ffffff;
  border-radius: unset;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .WomensRugby .black-box.white-background {
    margin-bottom: 80px;
    margin-right: 9%;
    margin-left: 9%;
  }
  .WomensRugby .black-box.white-background .description-container {
    padding-left: 11%;
  }
  .WomensRugby .black-box.white-background .btn-container {
    right: 11%;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .black-box.white-background {
    margin-bottom: 80px;
  }
  .WomensRugby .black-box.white-background .description-container {
    width: 100%;
  }
}
.WomensRugby .black-box.white-background .description-container {
  padding-top: unset;
  width: 65%;
}
@media screen and (max-width: 768px) {
  .WomensRugby .black-box.white-background .description-container {
    width: 100%;
  }
}
.WomensRugby .black-box .image-container {
  height: 90px;
  width: 110px;
  background-color: rgba(64, 146, 223, 0.5);
  border-radius: 56px;
  margin-left: -2px;
}
.WomensRugby .black-box .image-container img {
  height: 100%;
  width: 100%;
}
.WomensRugby .black-box .description-container {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 300;
}
.WomensRugby .black-box .description-container .bold {
  font-weight: bold;
}
.WomensRugby .black-box .btn-container {
  height: 44px;
  width: 130px;
  position: absolute;
  top: 22px;
  right: 40px;
}
.WomensRugby .black-box .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.WomensRugby .black-box .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
@media screen and (max-width: 768px) {
  .WomensRugby .black-box {
    flex-flow: column;
    margin: 0;
    margin-bottom: 40px;
    border-radius: unset;
    height: unset;
  }
  .WomensRugby .black-box.white-background .btn-container {
    margin-bottom: unset;
  }
  .WomensRugby .black-box .image-container {
    height: 110px;
    width: 110px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -1px;
  }
  .WomensRugby .black-box .description-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
  }
  .WomensRugby .black-box .btn-container {
    position: unset;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 40px;
  }
}
.WomensRugby .image-text-list-block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  margin-right: 9%;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 40px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .WomensRugby .image-text-list-block {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .image-text-list-block {
    margin-bottom: 80px;
  }
}
.WomensRugby .image-text-list-block a {
  color: #2959a2;
}
.WomensRugby .image-text-list-block a:hover {
  color: #214781;
  text-decoration: underline;
}
.WomensRugby .image-text-list-block .list-column {
  display: flex;
  min-height: 150px;
  margin-bottom: 30px;
}
.WomensRugby .image-text-list-block .list-column .list-column-image {
  height: 375px;
  width: 50%;
  overflow: hidden;
  background-color: rgba(64, 146, 223, 0.5);
}
.WomensRugby .image-text-list-block .list-column .list-column-image img {
  width: 100%;
  max-width: unset;
  height: auto;
}
.WomensRugby .image-text-list-block .list-column .list-column-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 49%;
}
.WomensRugby .image-text-list-block .list-column .list-column-text .list-column-text-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.WomensRugby .image-text-list-block .list-column .list-column-text .list-column-text-description {
  font-size: 16px;
  line-height: 1.63;
  color: #3e3e3e;
}
.WomensRugby .image-text-list-block .list-column.image-left .list-column-image {
  order: 1;
  margin-right: 1%;
}
.WomensRugby .image-text-list-block .list-column.image-left .list-column-text {
  order: 2;
  padding-left: 25px;
}
.WomensRugby .image-text-list-block .list-column.image-right .list-column-image {
  order: 2;
  margin-left: 1%;
}
.WomensRugby .image-text-list-block .list-column.image-right .list-column-text {
  order: 1;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .WomensRugby .image-text-list-block {
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 6%;
    padding-right: 6%;
  }
  .WomensRugby .image-text-list-block .list-column {
    height: unset;
    flex-flow: column;
  }
  .WomensRugby .image-text-list-block .list-column .list-column-image {
    width: 100%;
    height: 220px;
  }
  .WomensRugby .image-text-list-block .list-column .list-column-text {
    margin-top: 10px;
    padding: unset;
    width: 100%;
  }
  .WomensRugby .image-text-list-block .list-column.image-left .list-column-image {
    order: 1;
    padding: unset;
  }
  .WomensRugby .image-text-list-block .list-column.image-left .list-column-text {
    order: 2;
    padding: unset;
  }
  .WomensRugby .image-text-list-block .list-column.image-right .list-column-image {
    order: 1;
    padding: unset;
  }
  .WomensRugby .image-text-list-block .list-column.image-right .list-column-text {
    order: 2;
    padding: unset;
  }
}
@media (min-width: 768px) {
  .WomensRugby .vertical-card-container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
  }
}
.WomensRugby .vertical-card-container .card-related-content {
  font-family: 'Roboto', sans-serif;
  height: 430px;
  display: block;
}
@media (min-width: 768px) {
  .WomensRugby .vertical-card-container .card-related-content {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 33.3333%;
    flex: 1 1 auto;
  }
}
@media (max-width: 768px) {
  .WomensRugby .vertical-card-container .card-related-content {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 4%;
  }
}
.WomensRugby .vertical-card-container .card-related-content .image-container {
  background-color: rgba(64, 146, 223, 0.5);
  height: 250px;
}
.WomensRugby .vertical-card-container .card-related-content .image-container img {
  width: 100%;
  height: 100%;
}
.WomensRugby .vertical-card-container .card-related-content .copy-container {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 180px;
}
.WomensRugby .vertical-card-container .card-related-content .copy-container .copy-text {
  padding: 20px 30px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  color: #000000;
}
.WomensRugby .vertical-card-container .card-related-content .copy-container .copy-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #4092df;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 30px;
  text-decoration: none;
}
.WomensRugby .vertical-card-container .card-related-content .copy-container .copy-link:hover {
  border-bottom: 2px solid;
  margin-bottom: -2px;
}
.WomensRugby .vertical-card-container .card-related-content .copy-container .copy-link i.fas.fa-angle-right {
  margin-left: 15px;
  font-size: 16px;
  color: #4092df;
  position: absolute;
  bottom: 4px;
}
@media (min-width: 768px) {
  .WomensRugby .small-banner-card-container {
    padding-left: 11%;
    padding-right: 11%;
  }
}
.WomensRugby .small-banner-card-container .mixed-content-block {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  height: 540px;
  width: 335px;
}
.WomensRugby .small-banner-card-container .mixed-content-block .copy-container {
  height: 288px;
  box-sizing: border-box;
  width: 100%;
}
.WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.63;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  padding-top: 20px;
}
.WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-text {
  font-size: 16px;
  padding-top: 10px;
  line-height: 1.63;
  color: #3e3e3e;
  margin: 0;
}
.WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 2px;
  font-weight: 500;
}
.WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.WomensRugby .small-banner-card-container .mixed-content-block .image-container {
  width: 335px;
  height: 250px;
  background-color: rgba(64, 146, 223, 0.5);
}
.WomensRugby .small-banner-card-container .mixed-content-block .image-container img {
  width: 100%;
}
@media (min-width: 768px) {
  .WomensRugby .small-banner-card-container {
    padding-left: 18%;
    padding-right: 18%;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block {
    height: 190px;
    width: 100%;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .copy-container {
    float: left;
    height: 100%;
    width: 63%;
    padding-left: 35px;
    padding-right: 80px;
    padding-top: 30px;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-text {
    padding-bottom: 20px;
    font-size: 18px;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-button {
    position: relative;
    width: 140px;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .image-container {
    height: 100%;
    width: 37%;
    float: left;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .image-container img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .WomensRugby .small-banner-card-container {
    padding-top: 60px;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block {
    position: relative;
    width: 100%;
    height: unset;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .image-container {
    width: 100%;
    height: 220px;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .image-container img {
    height: 100%;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .copy-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: unset;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-text {
    padding-top: 30px;
    font-size: 18px;
  }
  .WomensRugby .small-banner-card-container .mixed-content-block .copy-container .content-button {
    position: relative;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .WomensRugby .image-outside-horizontal-card-container {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .image-outside-horizontal-card-container {
    margin-bottom: 80px;
  }
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card {
  display: flex;
  width: 845px;
  height: 334px;
  position: relative;
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container {
  width: 100%;
  border: 5px solid #51ae00;
  z-index: 1;
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
  width: 380px;
  padding-left: 80px;
  padding-top: 35px;
  padding-right: 85px;
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
  padding: 0;
  width: 380px;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 85px;
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .image-container {
  position: absolute;
  right: -100px;
  top: -40px;
  z-index: 0;
  height: 415px;
  width: 410px;
  background-color: rgba(64, 146, 223, 0.5);
}
.WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .image-container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .WomensRugby .image-outside-horizontal-card-container {
    padding-left: 14%;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
    width: 530px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
    width: 530px;
    font-size: 20px;
    text-align: center;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container {
    width: 162px;
    height: 44px;
    margin-top: 25px;
    margin-left: 180px;
  }
}
@media (max-width: 768px) {
  .WomensRugby .image-outside-horizontal-card-container {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 80px;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card {
    width: 100%;
    height: unset;
    flex-wrap: wrap;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container {
    order: 1;
    height: 830px;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
    padding-left: 30px;
    padding-top: 410px;
    padding-right: 30px;
    width: unset;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
    font-size: 20px;
    text-align: center;
    color: #3e3e3e;
    width: unset;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container {
    height: 45px;
    width: 160px;
    margin-top: 40px;
    margin-left: 25%;
  }
  .WomensRugby .image-outside-horizontal-card-container .image-outside-horizontal-card .image-container {
    order: 0;
    position: absolute;
    top: -30px;
    z-index: 0;
    width: 102vw;
    right: -6.7%;
  }
}
.WomensRugby .icon-and-description-container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .WomensRugby .icon-and-description-container {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .WomensRugby .icon-and-description-container {
    margin-bottom: 60px;
  }
}
.WomensRugby .icon-and-description-container .item-container {
  display: flex;
}
.WomensRugby .icon-and-description-container .item-container .image-container {
  height: 96px;
  width: 96px;
}
.WomensRugby .icon-and-description-container .item-container .image-container img {
  width: 100%;
  height: 100%;
}
.WomensRugby .icon-and-description-container .item-container .descrition-container {
  margin-left: 40px;
  padding-right: 30px;
}
.WomensRugby .icon-and-description-container .item-container .descrition-container .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.WomensRugby .icon-and-description-container .item-container .descrition-container .description {
  font-size: 18px;
  line-height: 1.56;
}
@media screen and (min-width: 768px) {
  .WomensRugby .icon-and-description-container {
    justify-content: center;
  }
  .WomensRugby .icon-and-description-container .item-container {
    border-right: 1px solid black;
    margin-left: 70px;
  }
  .WomensRugby .icon-and-description-container .item-container:last-child {
    border-right: unset;
  }
  .WomensRugby .icon-and-description-container .item-container:first-child {
    margin-left: unset;
  }
  .WomensRugby .icon-and-description-container .item-container .descrition-container {
    width: 510px;
  }
}
@media (max-width: 768px) {
  .WomensRugby .icon-and-description-container {
    flex-flow: column;
  }
  .WomensRugby .icon-and-description-container .item-container {
    flex-flow: column;
    padding-bottom: 40px;
    text-align: center;
  }
  .WomensRugby .icon-and-description-container .item-container .image-container {
    margin: auto;
    margin-bottom: 20px;
  }
  .WomensRugby .icon-and-description-container .item-container .descrition-container {
    width: 88%;
    margin-right: 6%;
    margin-left: 6%;
    padding: unset;
  }
}
@media (min-width: 768px) {
  .WomensRugby .horizontal-cards-container {
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.WomensRugby .horizontal-cards-container .card-container {
  margin-bottom: 25px;
}
.WomensRugby .horizontal-cards-container .card-container .image-container {
  background-color: rgba(64, 146, 223, 0.5);
}
.WomensRugby .horizontal-cards-container .card-container .image-container img {
  height: 100%;
  width: 100%;
}
.WomensRugby .horizontal-cards-container .card-container .content-container {
  background-color: #ffffff;
}
.WomensRugby .horizontal-cards-container .card-container .content-container .icon {
  height: 35px;
}
.WomensRugby .horizontal-cards-container .card-container .content-container .content-title {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  margin: unset;
}
.WomensRugby .horizontal-cards-container .card-container .content-container .content-text {
  font-size: 16px;
  line-height: 26px;
  margin: unset;
}
@media (min-width: 768px) {
  .WomensRugby .horizontal-cards-container .card-container {
    height: 250px;
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 50%;
    flex: 1 1 auto;
    margin-bottom: 35px;
  }
  .WomensRugby .horizontal-cards-container .card-container .image-container {
    width: 45%;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container {
    width: 54%;
    padding-top: 44px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
  }
  .WomensRugby .horizontal-cards-container .card-container.left .image-container {
    order: 0;
    border-right: 5px solid #51ae00;
  }
  .WomensRugby .horizontal-cards-container .card-container.left .content-container {
    order: 1;
  }
  .WomensRugby .horizontal-cards-container .card-container.right .image-container {
    order: 1;
    border-left: 5px solid #51ae00;
  }
  .WomensRugby .horizontal-cards-container .card-container.right .content-container {
    order: 0;
  }
}
@media (max-width: 768px) {
  .WomensRugby .horizontal-cards-container .card-container {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 4%;
  }
  .WomensRugby .horizontal-cards-container .card-container .image-container {
    height: 260px;
    width: 100%;
    border-bottom: 5px solid #51ae00;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container .icon {
    padding-right: 30px;
    padding-left: 30px;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container .content-title {
    padding-right: 30px;
    padding-left: 30px;
  }
  .WomensRugby .horizontal-cards-container .card-container .content-container .content-text {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.WomensRugby .item-list {
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 40px;
}
.WomensRugby .item-list .item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.WomensRugby .item-list .item img {
  height: 40px;
  width: 40px;
}
.WomensRugby .item-list .item .text {
  margin-left: 20px;
  font-size: 18px;
  color: #3e3e3e;
}
@media screen and (max-width: 768px) {
  .WomensRugby .item-list {
    padding-left: 6%;
    padding-bottom: 20px;
  }
  .WomensRugby .item-list .item .text {
    margin-left: 40px;
  }
}
.slds-col--padded.contentRegion.comm-layout-column {
  padding: 0;
}
.cCP_NewsDetail .detail-date.p-16-white-bold,
.cCP_NewsDetail .btn-div.content-button-container {
  display: none;
}
.cCP_NewsDetail {
  margin: unset;
  padding: unset;
}
