.banner-container {
  font-family: Roboto, sans-serif;
}
.banner-container .banner-card-container {
  text-align: left;
  background-color: #ffffff;
  display: flex;
}
.banner-container .banner-card-container .content-container {
  flex: 0 0 auto;
  width: 50%;
}
.banner-container .banner-card-container .content-container .label {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  height: 40px;
  margin-left: 83px;
  margin-top: 25px;
  width: 125px;
  background-color: #51ae00;
}
.banner-container .banner-card-container .content-container .label span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.banner-container .banner-card-container .content-container .title-container {
  margin-top: 60px;
  margin-bottom: 20px;
}
.banner-container .banner-card-container .content-container .title-container.with-label {
  margin-top: 20px;
}
.banner-container .banner-card-container .content-container .title-container .title {
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: black;
  text-transform: uppercase;
}
.banner-container .banner-card-container .content-container .text-container .text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #3e3e3e;
}
.banner-container .banner-card-container .content-container .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.banner-container .banner-card-container .content-container .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.banner-container .banner-card-container .concont {
  flex: 0 0 auto;
  width: 50%;
}
.banner-container .banner-card-container .concont .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 146, 223, 0.5);
}
.banner-container .banner-card-container .concont .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none;
}
@media screen and (min-width: 768px) {
  .banner-container .banner-card-container {
    height: 420px;
  }
  .banner-container .banner-card-container .text-container,
  .banner-container .banner-card-container .title-container {
    padding-left: 83px;
  }
  .banner-container .banner-card-container .text-container {
    padding-bottom: 20px;
  }
  .banner-container .banner-card-container .btn-container {
    height: 45px;
    width: 160px;
    margin-left: 83px;
    margin-bottom: 30px;
  }
  .banner-container .banner-card-container .concont .image-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 425px solid #ffffff;
    border-right: 80px solid transparent;
    width: 0;
  }
  .banner-container .banner-card-container .concont .image-container .desktop-img {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .banner-container .banner-card-container {
    flex-flow: column;
    margin-top: 0;
  }
  .banner-container .banner-card-container .content-container {
    width: 100%;
    padding: 10px 0;
  }
  .banner-container .banner-card-container .content-container .label {
    margin-left: 20px;
    margin-top: 15px;
  }
  .banner-container .banner-card-container .content-container .text-container,
  .banner-container .banner-card-container .content-container .title-container {
    padding: 20px;
    margin: 0;
  }
  .banner-container .banner-card-container .content-container .text-container .text,
  .banner-container .banner-card-container .content-container .title-container .text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    color: #3e3e3e;
    margin: 0;
  }
  .banner-container .banner-card-container .content-container .text-container .title,
  .banner-container .banner-card-container .content-container .title-container .title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }
  .banner-container .banner-card-container .content-container .title-container {
    margin-top: 75px;
  }
  .banner-container .banner-card-container .content-container .title-container.with-label {
    margin-top: 20px;
  }
  .banner-container .banner-card-container .content-container .btn-container {
    width: 88%;
    height: 45px;
    margin-left: 6%;
    margin-right: 6%;
  }
  .banner-container .banner-card-container .concont {
    width: 100%;
    height: 280px;
  }
  .banner-container .banner-card-container .concont .image-container .phone-img {
    display: block;
    position: absolute;
    height: 280px;
    left: 0;
    bottom: 0;
  }
}
.image-outside-horizontal-card-container .image-outside-horizontal-card {
  display: flex;
  width: 845px;
  height: 334px;
  position: relative;
}
.image-outside-horizontal-card-container .image-outside-horizontal-card .content-container {
  width: 100%;
  border: 5px solid #50af01;
  z-index: 1;
}
.image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
  width: 380px;
  padding-left: 80px;
  padding-top: 35px;
  padding-right: 85px;
}
.image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
  padding: 0;
  width: 380px;
  padding-left: 80px;
  padding-top: 20px;
  padding-right: 85px;
}
.image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.image-outside-horizontal-card-container .image-outside-horizontal-card .image-container {
  position: absolute;
  right: -100px;
  top: -40px;
  z-index: 0;
  height: 415px;
  width: 410px;
  background-color: rgba(64, 146, 223, 0.5);
  overflow: hidden;
}
.image-outside-horizontal-card-container .image-outside-horizontal-card .image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (min-width: 768px) {
  .image-outside-horizontal-card-container {
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 14%;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
    width: 530px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
    width: 550px;
    font-size: 20px;
    text-align: center;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container {
    width: 162px;
    height: 44px;
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 20px;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card.image-left .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card.image-left .content-container .title-container {
    padding-top: 0;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card.image-left .image-container {
    right: unset;
    left: -100px;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card.only-text {
    height: unset;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card.only-text .content-container {
    border: 5px solid #50af01;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .image-outside-horizontal-card-container {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 30px;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card {
    width: 100%;
    height: unset;
    flex-wrap: wrap;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container {
    padding-bottom: 20px;
    order: 1;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .title-container {
    padding-left: 30px;
    padding-top: 410px;
    padding-right: 30px;
    width: unset;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .description-container {
    font-size: 20px;
    text-align: center;
    color: #3e3e3e;
    width: unset;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .content-container .btn-container {
    height: 45px;
    width: 160px;
    margin-top: 40px;
    margin-left: 25%;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card .image-container {
    order: 0;
    position: absolute;
    top: -30px;
    z-index: 0;
    width: 102vw;
    right: -6.7%;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card.only-text .content-container {
    border: 5px solid #50af01;
    padding-top: 20px;
  }
  .image-outside-horizontal-card-container .image-outside-horizontal-card.only-text .content-container .title-container {
    padding-top: 0;
  }
}
.image-text-list-block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  margin-right: 9%;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 40px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .image-text-list-block {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .image-text-list-block {
    margin-bottom: 80px;
  }
}
.image-text-list-block a {
  color: #2959a2;
}
.image-text-list-block a:hover {
  color: #214781;
  text-decoration: underline;
}
.image-text-list-block .list-column {
  display: flex;
  min-height: 150px;
  margin-bottom: 30px;
}
.image-text-list-block .list-column .list-column-image {
  height: 375px;
  width: 50%;
  overflow: hidden;
  background-color: rgba(64, 146, 223, 0.5);
}
.image-text-list-block .list-column .list-column-image img {
  width: auto;
  max-width: unset;
  height: 100%;
}
.image-text-list-block .list-column .list-column-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 49%;
}
.image-text-list-block .list-column .list-column-text .list-column-text-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.image-text-list-block .list-column .list-column-text .list-column-text-description {
  font-size: 16px;
  line-height: 1.63;
  color: #3e3e3e;
}
.image-text-list-block .list-column.image-left .list-column-image {
  order: 1;
  margin-right: 1%;
}
.image-text-list-block .list-column.image-left .list-column-text {
  order: 2;
  padding-left: 25px;
}
.image-text-list-block .list-column.image-right .list-column-image {
  order: 2;
  margin-left: 1%;
}
.image-text-list-block .list-column.image-right .list-column-text {
  order: 1;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .image-text-list-block {
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 6%;
    padding-right: 6%;
  }
  .image-text-list-block .list-column {
    height: unset;
    flex-flow: column;
  }
  .image-text-list-block .list-column .list-column-image {
    width: 100%;
    height: 220px;
  }
  .image-text-list-block .list-column .list-column-text {
    margin-top: 10px;
    padding: unset;
    width: 100%;
  }
  .image-text-list-block .list-column.image-left .list-column-image {
    order: 1;
    padding: unset;
  }
  .image-text-list-block .list-column.image-left .list-column-text {
    order: 2;
    padding: unset;
  }
  .image-text-list-block .list-column.image-right .list-column-image {
    order: 1;
    padding: unset;
  }
  .image-text-list-block .list-column.image-right .list-column-text {
    order: 2;
    padding: unset;
  }
}
.slds-col--padded.contentRegion.comm-layout-column {
  padding: 0;
}
.cCP_NewsDetail .detail-date.p-16-white-bold,
.cCP_NewsDetail .btn-div.content-button-container {
  display: none;
}
.cCP_NewsDetail {
  margin: unset;
  padding: unset;
  background-color: unset;
}
