.tabs {
  position: relative;
  clear: both;
  margin: 0;
  padding-top: 15px;
  width: 400px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}
.tab {
  vertical-align: top;
  height: 55px;
}
.tab .label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 50px;
  line-height: 50px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-top: 13px;
  border-bottom: 1px solid #979797;
}
.tab [type=radio] {
  display: none;
}
.tab .content {
  position: fixed;
  white-space: normal;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 266px;
  height: 100px;
  background-color: white;
}
.tab [type=radio]:checked ~ .label {
  background: rgba(242, 175, 12, 0.12);
  padding-bottom: 13px;
  padding-top: 13px;
  border-bottom: 2px solid #f2af0c;
  z-index: 2;
}
.tab [type=radio]:checked ~ .label ~ .content {
  z-index: 1;
}
.tabs .tab .content {
  width: 100%;
  background-color: red;
}
.tabs .tab .content .row-container {
  display: flex;
  padding-left: 80px;
}
.tabs .tab .content .row-container:nth-child(odd) {
  background-color: white;
}
.tabs .tab .content .row-container:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}
.tabs .tab .content .row-container .match-date {
  padding-right: 130px;
}
.tabs .tab .content .row-container .match-date .date {
  font-size: 16px;
  width: 100px;
  line-height: 26px;
}
.tabs .tab .content .row-container .match-teams {
  height: unset;
  padding-top: 34px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
}
.tabs .tab .content .row-container .match-teams .flag-img {
  height: 26px;
  width: 34px;
}
.tabs .tab .content .row-container .match-teams .flag-img.team-one {
  padding-right: 16px;
}
.tabs .tab .content .row-container .match-teams .flag-img.team-two {
  padding-right: 25px;
}
.tabs .tab .content .row-container .match-teams .teams-names {
  font-size: 16px;
  line-height: 26px;
  margin: unset;
}
body {
  margin: unset;
}
