.GettingYourBarLayoutRight {
  text-align: left;
  background-color: #f2f2f2;
}
.GettingYourBarLayoutRight .titles-and-descriptions .general-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.GettingYourBarLayoutRight .titles-and-descriptions .general-description {
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  color: #3e3e3e;
  padding-right: 18%;
  padding-left: 18%;
}
.GettingYourBarLayoutRight .titles-and-descriptions .related-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #000000;
  text-transform: uppercase;
  border-bottom: 1px solid #7d7773;
  margin-bottom: 50px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .GettingYourBarLayoutRight .titles-and-descriptions .general-title {
    padding-left: 6%;
    padding-right: 6%;
    font-size: 24px;
  }
  .GettingYourBarLayoutRight .titles-and-descriptions .general-description {
    padding-left: 6%;
    padding-right: 5%;
  }
  .GettingYourBarLayoutRight .titles-and-descriptions .related-title {
    font-size: 24px;
    margin-left: 6%;
    margin-right: 6%;
  }
}
.GettingYourBarLayoutRight .banner-container .banner-card-container {
  text-align: left;
  background-color: #ffffff;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .label {
  width: 60px;
  height: 40px;
  margin-left: 83px;
  margin-top: 25px;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .label div {
  height: 100%;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .label div span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .title-container {
  margin-top: 60px;
  margin-bottom: 20px;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .title-container.with-label {
  margin-top: 20px;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .title-container .title {
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: black;
  text-transform: uppercase;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .text-container .text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #3e3e3e;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 146, 223, 0.5);
}
.GettingYourBarLayoutRight .banner-container .banner-card-container .image-container img {
  height: 100%;
  width: 100%;
  display: none;
}
@media screen and (min-width: 768px) {
  .GettingYourBarLayoutRight .banner-container .banner-card-container {
    height: 420px;
    margin-bottom: 40px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .content-container {
    padding-right: 110px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .text-container,
  .GettingYourBarLayoutRight .banner-container .banner-card-container .title-container {
    padding-left: 83px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .text-container {
    padding-bottom: 20px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .btn-container {
    height: 45px;
    width: 160px;
    margin-left: 83px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .image-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 425px solid #ffffff;
    border-right: 80px solid transparent;
    width: 0;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .image-container .desktop-img {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .GettingYourBarLayoutRight .banner-container .banner-card-container {
    flex-wrap: wrap;
    margin-top: 0;
    height: 660px;
    margin-bottom: 45px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .label {
    margin-left: 20px;
    margin-top: 15px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .text-container,
  .GettingYourBarLayoutRight .banner-container .banner-card-container .title-container {
    padding: 20px;
    padding-top: 0;
    margin: 0;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .text-container .text,
  .GettingYourBarLayoutRight .banner-container .banner-card-container .title-container .text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    color: #3e3e3e;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .text-container .title,
  .GettingYourBarLayoutRight .banner-container .banner-card-container .title-container .title {
    font-size: 28px;
    font-weight: bold;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .title-container {
    margin-top: 75px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .title-container.with-label {
    margin-top: 20px;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .btn-container {
    width: 88%;
    height: 45px;
    margin-left: 6%;
    margin-right: 6%;
  }
  .GettingYourBarLayoutRight .banner-container .banner-card-container .image-container .phone-img {
    display: block;
    position: absolute;
    height: 280px;
    left: 0;
    bottom: 0;
  }
}
.GettingYourBarLayoutRight .image-text-block {
  display: flex;
  padding-left: 18%;
  padding-bottom: 90px;
}
.GettingYourBarLayoutRight .image-text-block .itb-image-container {
  width: 80px;
  height: 80px;
  margin-right: 25px;
}
.GettingYourBarLayoutRight .image-text-block .itb-image-container img {
  height: 100%;
  width: 100%;
}
.GettingYourBarLayoutRight .image-text-block .itb-text-container {
  width: 735px;
  font-size: 20px;
  line-height: 1.6;
  color: #3e3e3e;
}
@media (max-width: 768px) {
  .GettingYourBarLayoutRight .image-text-block {
    flex-flow: column;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
  }
  .GettingYourBarLayoutRight .image-text-block .itb-image-container {
    margin: auto;
    margin-bottom: 40px;
  }
  .GettingYourBarLayoutRight .image-text-block .itb-text-container {
    width: unset;
  }
}
.GettingYourBarLayoutRight .horizontal-cards-container {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .GettingYourBarLayoutRight .horizontal-cards-container {
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 0;
  }
}
.GettingYourBarLayoutRight .horizontal-cards-container .card-container {
  margin-bottom: 25px;
}
.GettingYourBarLayoutRight .horizontal-cards-container .card-container .image-container {
  background-color: rgba(64, 146, 223, 0.5);
}
.GettingYourBarLayoutRight .horizontal-cards-container .card-container .image-container img {
  height: 100%;
  width: 100%;
}
.GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container {
  background-color: #ffffff;
}
.GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container .icon {
  height: 35px;
}
.GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container .content-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  margin: unset;
}
.GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container .content-text {
  font-size: 16px;
  line-height: 26px;
  margin: unset;
}
@media (min-width: 768px) {
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container {
    height: 250px;
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 50%;
    flex: 1 1 auto;
    margin-bottom: 35px;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container .image-container {
    width: 45%;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container {
    width: 54%;
    padding-top: 44px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container.left .image-container {
    order: 0;
    border-right: 5px solid #be63f7;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container.left .content-container {
    order: 1;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container.right .image-container {
    order: 1;
    border-left: 5px solid #be63f7;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container.right .content-container {
    order: 0;
  }
}
@media (max-width: 768px) {
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 4%;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container .image-container {
    height: 260px;
    width: 100%;
    border-bottom: 5px solid #be63f7;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container .icon {
    padding-right: 30px;
    padding-left: 30px;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container .content-title {
    padding-right: 30px;
    padding-left: 30px;
  }
  .GettingYourBarLayoutRight .horizontal-cards-container .card-container .content-container .content-text {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .GettingYourBarLayoutRight .mixed-content-card-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 768px) {
  .GettingYourBarLayoutRight .mixed-content-card-container {
    padding-left: 6%;
    padding-right: 6%;
  }
}
.GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
.GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-title {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-text {
  color: #3e3e3e;
}
.GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-button {
  font-size: 14px;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
.GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .image-container {
  background-color: rgba(64, 146, 223, 0.5);
}
.GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .image-container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block {
    width: 100%;
    display: flex;
    height: 340px;
    margin-bottom: 80px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block.image-left .copy-container {
    order: 0;
    padding-right: 115px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block.image-left .image-container {
    order: 1;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block.image-right .copy-container {
    order: 1;
    padding-left: 115px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block.image-right .image-container {
    order: 0;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container {
    height: 100%;
    width: 100%;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 18px;
    padding-top: 60px;
    line-height: 40px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    padding: 20px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .image-container {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: unset;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container {
    width: 100%;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 20px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-text {
    font-size: 16px;
    padding-top: 10px;
    line-height: 26px;
    color: #3e3e3e;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .copy-container .content-button {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 13px 0;
    background-color: #f2af0c;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    bottom: 2px;
    font-weight: 500;
    margin-top: 20px;
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .image-container {
    height: 250px;
    margin-left: -7%;
    margin-right: -7%;
    width: 114%;
    background-color: rgba(64, 146, 223, 0.5);
  }
  .GettingYourBarLayoutRight .mixed-content-card-container .mixed-content-block .image-container img {
    width: 100%;
    height: 100%;
  }
}
.GettingYourBarLayoutRight .black-box {
  display: flex;
  margin-right: 18%;
  margin-left: 18%;
  position: relative;
  color: white;
  background-color: #3e3e3e;
  border-radius: 56px 0px 0px 56px;
}
.GettingYourBarLayoutRight .black-box.white-background {
  background-color: #ffffff;
  border-radius: unset;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 80px;
}
.GettingYourBarLayoutRight .black-box.white-background .description-container {
  padding-top: unset;
}
.GettingYourBarLayoutRight .black-box .image-container {
  height: 110px;
  width: 110px;
  background-color: rgba(64, 146, 223, 0.5);
  border-radius: 56px;
  margin-left: -2px;
}
.GettingYourBarLayoutRight .black-box .image-container img {
  height: 100%;
  width: 100%;
}
.GettingYourBarLayoutRight .black-box .description-container {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 300;
}
.GettingYourBarLayoutRight .black-box .description-container .bold {
  font-weight: bold;
}
.GettingYourBarLayoutRight .black-box .btn-container {
  height: 44px;
  width: 130px;
  position: absolute;
  top: 33px;
  right: 40px;
}
.GettingYourBarLayoutRight .black-box .btn-container .content-button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 13px 0;
  background-color: #f2af0c;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 2px;
  font-weight: 500;
}
.GettingYourBarLayoutRight .black-box .btn-container .content-button:hover {
  background-color: #ffc800;
  color: #000;
}
@media screen and (max-width: 768px) {
  .GettingYourBarLayoutRight .black-box {
    flex-flow: column;
    margin: 0;
    border-radius: unset;
  }
  .GettingYourBarLayoutRight .black-box.white-background .btn-container {
    margin-bottom: unset;
  }
  .GettingYourBarLayoutRight .black-box .image-container {
    height: 110px;
    width: 110px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -1px;
  }
  .GettingYourBarLayoutRight .black-box .description-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
  }
  .GettingYourBarLayoutRight .black-box .btn-container {
    position: unset;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 40px;
  }
}
.GettingYourBarLayoutRight .image-text-list-block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  margin-right: 9%;
  padding-left: 9%;
  padding-right: 9%;
  background-color: #ffffff;
  padding-top: 40px;
  margin-top: 40px;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column {
  display: flex;
  height: 150px;
  margin-bottom: 30px;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column .list-column-image {
  width: 195px;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column .list-column-image img {
  width: 100%;
  height: 100%;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column .list-column-text {
  width: 79%;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column .list-column-text .list-column-text-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column .list-column-text .list-column-text-description {
  font-size: 16px;
  line-height: 1.63;
  color: #3e3e3e;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column.image-left .list-column-image {
  order: 1;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column.image-left .list-column-text {
  order: 2;
  padding-left: 25px;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column.image-right .list-column-image {
  order: 2;
}
.GettingYourBarLayoutRight .image-text-list-block .list-column.image-right .list-column-text {
  order: 1;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .GettingYourBarLayoutRight .image-text-list-block {
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 6%;
    padding-right: 6%;
  }
  .GettingYourBarLayoutRight .image-text-list-block .list-column {
    height: unset;
    flex-flow: column;
  }
  .GettingYourBarLayoutRight .image-text-list-block .list-column .list-column-image {
    width: 100%;
    height: 220px;
  }
  .GettingYourBarLayoutRight .image-text-list-block .list-column .list-column-text {
    margin-top: 10px;
    padding: unset;
    width: 100%;
  }
  .GettingYourBarLayoutRight .image-text-list-block .list-column.image-left .list-column-image {
    order: 1;
    padding: unset;
  }
  .GettingYourBarLayoutRight .image-text-list-block .list-column.image-left .list-column-text {
    order: 2;
    padding: unset;
  }
  .GettingYourBarLayoutRight .image-text-list-block .list-column.image-right .list-column-image {
    order: 1;
    padding: unset;
  }
  .GettingYourBarLayoutRight .image-text-list-block .list-column.image-right .list-column-text {
    order: 2;
    padding: unset;
  }
}
.GettingYourBarLayoutRight .vertical-card-container {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .GettingYourBarLayoutRight .vertical-card-container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
  }
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content {
  font-family: 'Roboto', sans-serif;
  height: 430px;
  display: block;
}
@media (min-width: 768px) {
  .GettingYourBarLayoutRight .vertical-card-container .card-related-content {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 33.3333%;
    flex: 1 1 auto;
  }
}
@media (max-width: 768px) {
  .GettingYourBarLayoutRight .vertical-card-container .card-related-content {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 4%;
  }
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content .image-container {
  background-color: rgba(64, 146, 223, 0.5);
  height: 250px;
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content .image-container img {
  width: 100%;
  height: 100%;
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content .copy-container {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 180px;
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content .copy-container .copy-text {
  padding: 20px 30px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  color: #000000;
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content .copy-container .copy-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #4092df;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 30px;
  text-decoration: none;
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content .copy-container .copy-link:hover {
  border-bottom: 2px solid;
  margin-bottom: -2px;
}
.GettingYourBarLayoutRight .vertical-card-container .card-related-content .copy-container .copy-link i.fas.fa-angle-right {
  margin-left: 15px;
  font-size: 16px;
  color: #4092df;
  position: absolute;
  bottom: 4px;
}
.slds-col--padded.contentRegion.comm-layout-column {
  padding: 0;
}
.cCP_NewsDetail .detail-date.p-16-white-bold,
.cCP_NewsDetail .btn-div.content-button-container {
  display: none;
}
.cCP_NewsDetail {
  margin: unset;
  padding: unset;
}
