<link rel="stylesheet" href="./horizontalCard.css">

<div class="general-container">
    CARD LEFT IMAGE CONTAINER
    <div class="card-container left">
        <div class="image-container">
            <img
                src="../img.png" />
        </div>
        <div class="content-container">
            <img class="icon"
                src="../img.png" />
            <p class="content-title">Attract new footfall</p>
            <p class="content-text">Over 2 million people across the UK and Ireland use MatchPint to find a bar
                showing sport.</p>
        </div>
    </div>
    CARD RIGHT IMAGE CONTAINER
    <div class="card-container right">
        <div class="image-container">
            <img
                src="../img.png" />
        </div>
        <div class="content-container">
            <img class="icon"
                src="../img.png" />
            <p class="content-title">Attract new footfall</p>
            <p class="content-text">Over 2 million people across the UK and Ireland use MatchPint to find a bar
                showing sport.</p>
        </div>
    </div>
</div>