<link rel="stylesheet" href="./ImageOutsideHorizontalCard.css">

<div class="image-outside-horizontal-card-container">
    <div class="image-outside-horizontal-card">
        <div class="content-container">
            <div class="title-container">
                <span class="title">Transforming drink experiences</span>
            </div>
            <div class="description-container">
                <span class="description"> Our mission is to transform drinks experiences, and fuel the exciting
                    drinks category, everyday and everywhere.</span>
            </div>
            <div class="btn-container">
                <a href="#" target="_blank" class="content-button">get the report</a>
            </div>
        </div>
        <div class="image-container">
            <img src="https://www.mydiageo.com/s/sfsites/c/servlet/servlet.FileDownload?file=0154G000006MUg1" />
        </div>
    </div>
</div>